[2017-01-11 21:25] Deadpikle opened #1 "Show "Checking for Update" Screen On User Update Request"
We shouldn't make the UI appear as though it is doing nothing when the user explicitly asks for an update request. Need to pop up (and therefore auto dismiss as needed) a window with an indeterminate progress bar that says something along the lines of "Checking for update...".

[2017-01-11 21:27] Deadpikle opened #2 "Seperate UI and Core Logic More"
This is already sort of done with the UI factory stuff, but the main Sparkle project could be cleaned up more to have multiple projects under the main solution -- one for the core logic, one for a WinForms GUI, and one for a WPF GUI (and more for other GUIs). That way we don't have the strange conglomeration of WPF and WinForms GUI code that we have now.

[2017-01-11 21:28] Deadpikle opened #3 "WPF-Based GUI"
Need to create and maintain a WPF-based GUI. Probably want to have the option of using MahApps.Metro for the UI.

[2017-01-16 20:52] Deadpikle commented on #1
Addressed in d85c1bb and previous commits.

[2017-01-16 20:52] #1 closed

[2017-01-16 20:53] Deadpikle opened #4 "Stop using MessageBox in DefaultUIFactory"
`MessageBox.Show` doesn't look as nice as a form with an icon and such!

[2017-01-18 19:22] Deadpikle commented on #4
Fixed in f450ba1.

[2017-01-18 19:22] #4 closed

[2017-03-28 15:24] Deadpikle opened #5 "Resume downloads"
When checking to see if a file on disk can be DSA-verified, remember if a file actually finished downloading or not and resume the file download if possible.

[2017-03-30 17:33] Deadpikle opened #6 "Remove 'NetSparkle' from all type names"
Remove the prefix 'NetSparkle' from all type names. That's what the namespace is supposed to be for.

[2017-06-08 13:13] Deadpikle commented on #6
Resolved by #12

[2017-06-08 13:13] #6 closed

[2017-06-08 13:49] Deadpikle opened #13 "SecurityMode.Strict doesn't properly verify ChangeLog DSA signatures"
Ran into this a long time ago, but I never investigated.

[2017-06-08 21:25] stephenwade opened #14 "appcast: the length attribute is never verified"
The `length` attributes of the appcast `<item>`s (stored in `AppCastItem.UpdateSize`) are never checked. The size of the update file should be checked against this attribute before installation.

[2017-06-08 21:31] stephenwade opened #15 "appcast: the type attribute is never used"
The `type` attributes of the appcast `<item>`s are never stored or checked. Should we verify that the media type (MIME type) offered by the server matches the `type` attribute before downloading the update?

[2017-06-08 21:37] Deadpikle commented on #14
Unnecessary. The DSA check is good enough to verify that we downloaded the right file.

[2017-06-08 21:37] #14 closed

[2017-06-08 21:39] stephenwade commented on #14
What if people want to use this library without DSA checking? I'm sure the attribute is in the XML for a reason.

[2017-06-08 21:43] Deadpikle commented on #14
The length attribute is not required to be in the XML file, so we should not rely on it. That and I'd hate to have a length attribute that was off by a byte or two do to a typo or differing operating system calculations.

The DSA check is the method we offer for file verification. If users decide not to use that method, then the users will need to perform their own verification by looking at `AppC

[2017-06-09 20:04] Deadpikle opened #17 "Support sparkle:os attribute"
See https://github.com/sparkle-project/Sparkle/pull/1089 for reference implementation. This would be great to have for compatibility's sake with Sparkle!

[2017-06-12 16:12] stephenwade opened #18 "look into getting rid of CloseApplication event/delegate"
Instead of hooking into these events to handle closing the app, the app should either hook into AboutToExitForInstallerRun, or properly handle the [Application.Exit] event or the [Form.FormClosing] event as if otherwise closed (by closing the last window or by a system shutdown).

[Application.Exit]: https://msdn.microsoft.com/en-us/library/system.windows.application.exit.aspx
[Form.FormClosing]:

[2017-06-12 20:26] stephenwade opened #20 "system profiling can't be enabled"
The Sparkle.EnableSystemProfiling and Sparkle.SystemProfileUrl properties have private setters, and aren't set in the constructor. This means that they can't be enabled or configured.

[2017-06-12 20:30] stephenwade opened #21 "hide release notes can't be enabled"
The HideReleaseNotes property has a private setter, and is not set in the constructor. This means that it can't be enabled.

[2017-06-12 21:29] Deadpikle opened #22 "Project needs a changelog"
This way users won't have to look at the Releases section to know what's changed recently.

[2017-06-13 16:15] Deadpikle commented on #22
Fixed by #24

[2017-06-13 16:15] #22 closed

[2017-06-27 21:35] Deadpikle opened #25 "CloseApplication and CloseApplicationAsync have no docs in README.md or CHANGELOG.md"
Need to also be more specific that those are not supposed to be canceled and the batch file will be waiting for the software to close before it starts, so the user **really** needs to close the software ASAP!

[2017-06-28 17:05] Deadpikle opened #26 "Document fact that ProgressWindow needs to set DialogResult"
`ProgressWindow` (thing that is returned by `IDownloadProgress CreateProgressWindow(AppCastItem item, Icon applicationIcon` in `IUIFactory`) needs to set `DialogResult` in order for the update to execute and not be deleted!

Pertinent `NetSparkle` code:
[code]

[2017-06-28 17:07] Deadpikle commented on #5
This would probably also require us to not kill downloads if canceled? See `ClearOldInstallers`.

[2017-07-11 08:55] delfuria opened #27 "NuGet package available ?"
Hi, is there a nuget package of this repo ?
Thanks

[2017-07-11 12:06] Deadpikle commented on #27
Hi @delfuria! There isn't this moment, but I can put one together! I'll reply again and close this issue when it's ready.

[2017-07-11 15:04] delfuria commented on #27
Thanks for the reply.
I found the "your" version of NetSparkle is a great step forward over the original version, and i think that everyone that currently use the "old" version will use yours.

[2017-07-11 16:17] Deadpikle commented on #27
@delfuria Does https://www.nuget.org/packages/com.pikleproductions.netsparkle/ and/or https://www.nuget.org/packages/com.pikleproductions.netsparkle.tools/ work for you?

I've contacted the current NuGet NetSparkle owners to see if I can have access to that package so we can get rid of the NetSparkle.New name. I should probably bump the version # to 1.2 or similar, too, so that people online aren'

[2017-07-11 16:27] Deadpikle commented on #27
@delfuria Does https://www.nuget.org/packages/NetSparkle.New/ and/or https://www.nuget.org/packages/NetSparkle.New.Tools/ work for you?

Note that the published version is 0.10.0, so you may have to make a few adjustments if you were building with 0.9.x before (`master` branch). `CHANGELOG.md` should let you know what you need to know to update.

I've contacted the current NuGet NetSparkle owners

[2017-07-11 16:51] delfuria commented on #27
Thanks a lot !!!

[2017-07-11 16:51] #27 closed

[2017-07-13 01:08] Deadpikle opened #28 "Update NetSparkle NuGet package"
The owners of the more-well-loved-and-used [NetSparkle NuGet package](https://www.nuget.org/packages/NetSparkle/) have graciously given me owner access, so we need to update the code there so that everyone can take advantage of the latest code enhancements -- and so that there's not duplicate NuGet lookalikes!

- [ ] Make names of fields, events, etc. consistent
- [ ] Finish any refactoring work
-

[2017-07-14 07:50] delfuria opened #29 "feature request: make RunDownloadedInstaller method virtual & protected"
I'm trying to integrate NetSparkle in my app, but i need to overwrite this method for customize the final step of installation.
I would like to execute custom code so i'll be able to manage other files type than .exe, .msi and so on.
The method GetInstallerCommand is yet protected and virtual but is not enough to reach my goal.

[2017-07-14 13:08] Deadpikle commented on #29
@delfuria Is it fine if the function is still `async`? Do you not want to run an .exe/.msi at all? Do you want to hook into something before/after that executable runs (or before/after the program exits)? `RunDownloadedInstaller` also kills the currently running application -- is it fine if you handle that yourself, or do you want NetSparkle to still handle it? (Note to myself: will need to update

[2017-07-14 14:38] delfuria commented on #29
You are right, i would like to use a .zip file as delivery method for my upgrade.
I still need to restart the app after the inplace upgrade and i could reach to do this overriding GetInstallerCommand  and RunDownloadedInstaller.
Am i right ??
Thanks

[2017-07-16 20:42] Deadpikle commented on #29
@delfuria You should try out 0.11.2. `RunDownloadedInstaller` is now protected and virtual. I refactored the application close logic to `QuitApplication()`. I didn't add new methods to actually relaunch the software for you, yet, but you should be able to tweak and reuse the logic in `RunDownloadedInstaller` to relaunch the software with a .bat file yourself.

[2017-07-19 13:43] devstudiosoft opened #30 "isReflectionBasedAssemblyAccessorUsed dosn't work"
Hi, i need to use your app without reflection, but seems doesn’t work in my case, i try to use this code in my app

[code]

but when i set the isReflectionBasedAssemblyAccessorUsed = false, for use AssemblyDiagnosticsAccessor class, doesn’t work

i updated the source code, and i maked this modification

1) In the constructor of Configuration class first invoke the InitWithDefaultValues() method, a

[2017-07-19 13:48] Deadpikle commented on #30
Hey @devstudiosoft ! Thanks for the bug report. I will try to take a look at your code in the next few days. Assuming it looks OK, you would be more than welcome to open a pull request to this repository so that you can be marked as a code contributor to the repo and such. If you need more info on how to do that, check out: https://help.github.com/articles/about-pull-requests/

[2017-07-20 22:59] Deadpikle opened #34 "Refactor `ReportDiagnosticMessage` to use a separate Logger class with virtual functions"

[2017-07-21 00:28] Deadpikle commented on #25
Closed by #33

[2017-07-21 00:28] #25 closed

[2017-07-21 00:56] Deadpikle commented on #30
Fixed in #31

[2017-07-21 00:56] #30 closed

[2017-07-21 01:02] Deadpikle opened #35 "AssemblyDiagnosticsAccessor.AssemblyTitle returns product name, not title"
I'm not sure how best to implement this fix or if a fix is truly necessary (`AssemblyTitle` is not ultimately used anywhere, at least in `NetSparkle`'s code). Is a valid solution to load the assembly from disk, then use `Assembly.GetCustomAttributes` to get the title?

[2017-07-21 01:10] Deadpikle commented on #35
Would this code work?

[code]

I really don't know enough to answer that question.

[2017-07-21 01:22] Deadpikle commented on #34
View progress in https://github.com/Deadpikle/NetSparkle/tree/feature/log

[2017-08-03 00:01] #34 closed

[2017-08-03 00:02] Deadpikle commented on #34
This feature is now complete.

[2017-08-03 00:21] Deadpikle commented on #29
@delfuria NuGet package updated at https://www.nuget.org/packages/NetSparkle.New/ ; I'll assume you're good to go unless I hear otherwise!

[2017-08-03 00:21] #29 closed

[2017-11-16 10:04] enscope opened #39 "WindowsForms in UI interfaces"
Is there an actual reason to why there is a `DialogResult` used in UI interfaces? As I am looking at it, there are only two interfaces, where `DialogResult` is used:

- `IUpdateAvailable.Result` - where `DialogResult` signalises, whether the update should be handled; where, it might be better to have a separate enum with required values and let the implementation of the interface do the translatio

[2017-11-16 13:10] Deadpikle commented on #39
👋 Hi @enscope! That's an interesting (and good, I think) proposal! I'm a bit busy right now with work and (USA) Thanksgiving, but I will try to take a look at this sometime in the next week or two. I'll test it out with the project I'm using NetSparkle in, and if it looks good, we'll move forward. Now is the time for breaking changes as well, since I (eventually) am going to be updating things to

[2017-11-16 14:43] enscope commented on #39
Cool. I think I will take a look at the last dialog without interface - CheckingForUpdatesWindow - as well, because I need to customise it for my project too. Is it ok with you?

[2017-11-27 23:00] Deadpikle commented on #39
See latest commits (and botched pull request) for resolving this issue. Will close this issue once we resolve whether or not you want to redo that PR due to my mistake.

Feel free to submit another PR for that window if you like! I, er, won't mess up things again this time 😓

[2017-11-27 23:01] Deadpikle opened #41 "Critical update -> Allow for removing access to close button"
Or do something to otherwise allow for forcing the user to update

[2017-12-07 01:48] Deadpikle commented on #39
Resolved in recent commits (4f378e66b5215ba729b130e1da48f34428c9486a, 58cfe8254970204dbe72cbf4aaf68d86c82dc465) and PR #40

[2017-12-07 01:48] #39 closed

[2018-02-26 01:20] #21 closed

[2018-03-23 21:44] victorct opened #44 "Buttons not showing in the update window"
I have installed the library in my C# project through NuGet, but every time there is an update the buttons to start downloading, to skip, or to remind the user to download later do not show up in the window, making the library impossible to use.

Here is an example of my code:

[code]

![how the window looks](https://user-images.githubusercontent.com/26970809/37854574-11826e5c-2eb1-11e8-8337-9f81c

[2018-03-23 21:47] victorct commented on #44
I have already trying resizing the window, and not success, I cloned the project and opened the Designer of that window, and the buttons are not even inside the panel, they are outside.

[2018-03-25 02:11] Deadpikle commented on #44
Hi @victorct ! Thanks for the report. Not sure what's going on off the top of my head, but I wanted to acknowledge the report and let you know that I'll look at it ASAP. I haven't run into this issue myself, including in the designer view, so that's odd. You wouldn't happen to be using a non-English language for Sparkle, would you? (I've done no research/work on this fork to make sure that the tra

[2018-03-25 02:20] Deadpikle commented on #44
In a quick look at the code, I see nothing that would be hiding the update available button at the very least. My designer view looks fine. The report of cloning the project and having it not work is also strange. I noticed you're running in VMWare Fusion. Any chance this could be causing strange issues?

Could you please tell me what version of .NET you're using? It looks like the sample projects

[2018-03-25 02:21] Deadpikle opened #45 "Demo projects aren't working again"
I remember this being an issue before...something with the DSA key not being included properly? Need the samples to work.

[2018-03-26 00:39] Deadpikle commented on #45
Was caused by GitHub's change in policies for TLS as specified [here](https://developer.github.com/changes/2018-02-01-weak-crypto-removal-notice/).

[2018-03-26 00:40] #45 closed

[2018-03-26 00:52] Deadpikle commented on #44
@victorct I fixed the sample projects. Do you mind pulling the latest code and giving one of the samples a try, say, NetSparkleTestAppWPF, to see if the samples work? I was also unable to find any localization related bugs, as the current localizations just modify strings. I'm definitely not seeing the same things you are if the update buttons are outside the current form. Please provide me with t

[2018-03-27 17:32] victorct commented on #44
Hello @Deadpikle I didn't have time to do what you need yet, I will do it today and give you the info (about the tests and the OS, .NET framework etc.) later.

I will keep you posted.

[2018-03-27 17:39] Deadpikle commented on #44
No worries! :) Thanks for your patience and willingness to work with me on this. Hopefully we can get to the bottom of it.

Michael Babienco
-----------------
Lead Programmer/Analyst
Center for Innovation and Research in Computing
Southern Adventist University
http://southern.edu/circ
Partner with me on my next adventure: https://babien.co/missions

From: victorct <notifications@github.com>
Reply-

[2018-04-30 15:39] #17 closed

[2018-04-30 15:54] #15 closed

[2018-04-30 15:55] Deadpikle commented on #15
I'm going with not checking things on the server since macOS Sparkle does not verify the `type` attribute and we are trying to be compatible with that library. Nonetheless, I added `AppCastItem.MIMEType` so that users can check the mime type themselves if desired.

[2018-04-30 20:01] Deadpikle commented on #26
The `IDownloadProgress` no longer needs the `DialogResult` as it has been abstracted away. The interface just returns a bool now, so this issue is no longer a problem.

[2018-04-30 20:01] #26 closed

[2018-04-30 20:52] Deadpikle commented on #13
Hm. Worked just fine in a test today. Doesn't check the security mode, but does check if there's a DSA signature in the app cast file. Sample syntax:

[code]

[2018-04-30 20:52] #13 closed

[2018-04-30 20:53] Deadpikle commented on #13
Pertinent code:
[code]

[2018-05-01 14:19] Deadpikle opened #46 "CheckingForUpdatesWindow needs an interface and should be instantiated through the default UI factory"

[2018-07-06 15:33] Deadpikle opened #48 "Line ending problems"
It appears as though the `.gitattributes` file is not set up properly. Somehow, #47 got a bunch of EOL changes that were unexpected. `.gitattributes` is supposed to fix these sorts of things. I'm not sure what the issue is.

The current repo seems to have `crlf` as a line ending rather than `lf`, which is what I'd expect based on my own system setting of `core.autocrlf true`.

See [this article](h

[2018-07-06 15:37] Deadpikle commented on #48
Ah, it seems that only `NetSparkle/NetSparkle.cs` has different line endings. Strange...

[2018-07-06 16:36] Deadpikle commented on #48
I've fixed `NetSparkle/NetSparkle.cs`'s line endings, but we need to verify that all other files have `LF` instead of `CRLF` except for those noted in `.gitattributes`.

[2019-01-26 12:25] Deadpikle opened #52 "Add an appcast generator"
We should create an appcast generator program that, at the very least, scans an EXE and outputs the applicable appcast info to an XML file or format. Preferably, it'd scan a folder of EXEs like the Sparkle `generate_appcast` tool and create a file that is updated over time and can just be plopped on the server.

[2019-01-30 08:07] MarshalT opened #54 "I want to update some dynamic link libraries. What should I do?"
I want to update some dynamic link libraries. What should I do?

[2019-01-30 09:16] Deadpikle commented on #54
Hi @MarshalT !

You have a few options depending on how your software works and how it uses the DLLs that you want to update. I'm assuming here you have a .zip of DLL updates or something similar. NetSparkle itself doesn't enforce what it downloads, but it does assume the downloaded item is an `exe`, `msi`, or `msp` **unless** you override `NetSparkle.RunDownloadedInstaller` OR `NetSparkle.GetInst

[2019-01-31 06:34] MarshalT commented on #54
@ Hi Deadpikle!
Thank you for your answer.I've found a simpler update component.

[2019-01-31 06:34] #54 closed

[2019-01-31 06:58] ndreisg opened #55 "UpdateAvailableWindow sometimes shows two different version strings (with/without revision)"
`UpdateAvailableWindow.getVersion` function returns wrong number of fields.

    private string getVersion(Version version)
    {
        if (version.Build != 0) // should be Revision
            return version.ToString();
        if (version.Revision != 0) // should be Build
            return version.ToString(3);
        return version.ToString(2);
    }

According to AssemblyInfo.cs the format

[2019-01-31 12:33] #55 closed

[2019-01-31 12:34] Deadpikle commented on #55
Thanks for the report. I also added some unit tests to verify the fix. (This project needs unit tests so badly...yet another thing to add to the 2.0 list)

[2019-02-04 11:31] christianerlinger opened #56 "Multiple Hosts for AppCast file"
Hi Folks,

in my project I have some sort of load balancing between multiple server hosts. In my case it should be possible to load updates from each of the configured hosts;

e.g.
server1, server2, server3

server1 gets a new appcast xml so the new version should be pulled from that current server by a number of clients (or all of them - depends on the interval check)

when server1 gets a new ver

[2019-02-04 11:56] Deadpikle commented on #56
Hi Christian,

Hmmm, that's an interesting question. Am I understanding you correctly that you want to download the **software updates** from different servers, not the appcast? If this is the case, we support the ability for your AppCast to change dynamically based on users, since there's no reason you can't have NetSparkle call a script that generates the app cast dynamically on the server and t

[2019-02-04 13:11] christianerlinger commented on #56
Hi!

Thanks for your quick response.

I would need multiple AppCast URLs yes.

We have a...well let's call it a J2EE application (there are a multitude of components running on different technologies) running on multiple servers; the installation layout is (except for the hostname) the very same. The clients can start the application against one of the X configured servers. If one of the servers f

[2019-02-04 14:16] Deadpikle commented on #56
Hmmmm, very interesting! Thanks for the huge amount of detail, there.

For now, I'm just mentally taking this one step at a time. First step would be to allow for multiple appcast URLs that were pinged at every X interval, or perhaps an additional setting to try one right after the other if one doesn't have updates (or similar). In looking at the code at a quick glance, the `_appcastUrl` doesn't s

[2019-02-04 18:38] christianerlinger commented on #56
Hi,

Thanks for considering this :)!

Yes, I was thinking about keeping a list of urls. If there is no update (or
a 404) for an entry just check the next one in the list.

As for now we are able to add and remove servers to our serverlist on the
fly - so I'd need to modify that list at runtime if I may be so bold and
add another request ;).

Thank you very much!
regards
Christian

[2019-02-05 12:18] Deadpikle commented on #56
Wait, pause -- I thought about this more. We don't need to edit NetSparkle itself for multiple URLs. You can just create multiple instances of a `NetSparkle` object 😅

Example (please ignore the fact that I did this all in the code behind for the Sample WPF app -- I trust that you know where best to implement this):

[code]

This will even allow you to add new servers or remove servers to check ju

[2019-02-05 18:33] christianerlinger commented on #56
Hi!

Well, that sounds very promising, and if it works it should solve my
problem. should have thought of that myself :).

Currently I am on leave, so I can't try your solution - I'll get back to
you once I am back in action ;).

Thank you for the quick help!

Best regards
Christian

Am Di., 5. Feb. 2019, 13:18 hat Deadpikle <notifications@github.com>
geschrieben:

[2019-02-10 12:05] Deadpikle commented on #52
Fixed by #53

[2019-02-10 12:05] #52 closed

[2019-02-10 12:05] #48 closed

[2019-02-11 08:28] christianerlinger commented on #56
Hi,

I am back in action and am trying your solution.

I'v stumbled upon something that might cause me problems though:

I need to provide a DSA Signature of the programs. Now in the timeframe when server1 was upgraded and server2 will be upgraded there are 2 different DSA signautes (the old one and the new one). How would I prevent the clients to be in an upgrade loop in that Timeframe?

regards

[2019-02-11 11:12] Deadpikle commented on #56
Hey,

You could enforce a minimum wait time before updates/checking servers for updates so that your client doesn't do this in rapid succession if you don't want your clients to be updating rapidly:

1. Checks for server 1 update, nothing
2. (Server 1 updates to 1.2 from 1.0)
3. Checks for server 2 update, grabs update to 1.1 and updates to 1.1
4. Checks for server 1 update, grabs update to 1.2 an

[2019-02-11 12:30] christianerlinger commented on #56
Alright, that was my missing information. My impression was that (as it seems to be obligatory) the DSA signature is used to determine if an upgrade is needed. If that would be the case the clients would toggle between those 2 versions.; so I didn't add it for my test. I certainly have an ascending version number however; so there should be no problem.

Not sure why in my current test I don't get

[2019-02-12 06:55] christianerlinger commented on #56
Hi,

I've run tests and the result is as I want it to be: the upgrade is pulled from the server with the higher version - no upgrade loops, and I am able to distribute the load between servers.

Thanks for your inputs - much appreciated :-)

best regards
Christian

[2019-02-12 07:53] Deadpikle commented on #56
Woo hoo! Glad you got it working. I'll close this issue since the problem seems to be resolved.

[2019-02-12 07:53] #56 closed

[2019-02-12 08:22] christianerlinger opened #57 "Relative URLs for Items"
Hi!

Sorry to bother you again; I have an issue with relative URLs for the items in the appcast.xml file.

As the appcast file for all servers would very much look the same I figured with relative paths they would be 100% be the same so I would be able to generate one appcast.xml file at build time, not for each server at install time.

The update mechanism works with absolute paths in the URLs of

[2019-02-12 09:47] Deadpikle commented on #57
Hi again,

No worries. It's not a bother.

Hmmm...release notes do use the `GetAbsoluteURL` function, but downloads don't, you're right.

The original macOS Sparkle project had a similar issue filed here: https://github.com/sparkle-project/Sparkle/issues/616. Their opinion was that it was something Sparkle shouldn't handle due to RSS standards, which makes sense to me. A public file should contain

[2019-02-12 09:54] Deadpikle commented on #57
Should be fixed in b1bb3d1. Let me know if it doesn't work for you. NuGet package has been pushed but might take a few mins to propagate.

[2019-02-12 11:02] christianerlinger commented on #57
Hi,

I understand - I have the possibility to generate per server appcast.xmls once you remove that feature, but for now as I am under time pressure I wanted to spare me that work ;-). Thanks for including that for now.

However; there is No luck for me; NetSparkle.New 0.16.1

[code]

as you might have guessed I am fairly new to .NET and C# - but an update of the nuget package plus a complete clea

[2019-02-12 13:30] Deadpikle commented on #57
Hi,

I understand having time constraints, haha. Been there, done that. 😅

What version of .NET are you using?

I'm not able to replicate the problem using "installer.exe" as the item link and "http://localhost/aliasmatch/appcast.xml" when building from source.

Hm. It's entirely possible I did a dumby and uploaded the wrong thing to NuGet; I've done that before. (I've realized that I did forget t

[2019-02-12 13:48] christianerlinger commented on #57
Hi,

sure thing, I'll try building a testcase using the example program and let you know the outcome.

I am on .NET 4.6.1 and running Visual Studio Community Edition 2017 if this is of any consequence btw.

cheers

[2019-02-12 13:54] Deadpikle commented on #57
Please also let me know what your actual URL is (change words if you need to but not the overall format including dashes and the like) and relative path is, as it's possible your formatting is actually wrong and that's the problem 😅

I also updated NuGet to 0.16.2 'cause I found a Bad Bug. Might take a few minutes to propagate.

Let me know! We'll get to the bottom of it.

[2019-02-12 14:28] christianerlinger commented on #57
Hi,

I upgraded to 1.16.2 - still get the same error.

I stripped the appcast.xml to the bare minimum:

[code]

The appcast and the installer.exe are located in the very same folder.

The url would be

http://host-name:7777/somepath/some_alias_match/folder/appcast.xml

(the url structure including the - and _ are the very same in my local installation)

http://host-name:7777/somepath/some_alias_ma

[2019-02-12 14:36] Deadpikle commented on #57
Okie dokie.

Based on the stack trace I wonder if the NetSparkle.dll your app is using has been updated. The stack trace should include a call to `Netsparkle.Utilities`, and it doesn't.

[2019-02-12 15:08] christianerlinger commented on #57
Interesting. I really seem to have an old version of the NetSparkle.dll. Even though I upgraded, and removed NetSparkle from the references twice the version I am getting in the references property is 0.15.0.0.

packages.config shows

`  <package id="NetSparkle.New" version="0.16.2" targetFramework="net461" />`

in the .csproj I have

[code]

Maybe this is some oddity from VS Community 2017?

I'll

[2019-02-13 00:56] Deadpikle commented on #57
Hey.

You're not crazy. Something is wrong with the NuGet build script I use and the NetSparkle DLL is indeed 0.15.0.

I'm looking into it now. So sorry for the hassle!!

[2019-02-13 01:16] Deadpikle commented on #57
OK, I found and fixed the bug. No clue when that happened. (I'm in a bit of a rush at the moment and can't do the research now.) Please try updating your NuGet to 0.16.3 and see how that goes. Many apologies for the confusion and hassle.

[2019-02-13 06:35] Deadpikle commented on #57
Hi,

So glad to hear! I'll go ahead and close the issue. :)

[2019-02-13 06:35] #57 closed

[2019-03-04 16:57] nbpalomino opened #58 "Help with translation"
Hello,

I need help with translation, trying to use spanish translation "es-MX" but no success, still showing up english strings.

This is my XML Appcast:
[code]

[2019-03-05 00:42] Deadpikle commented on #58
Hi @nbpalomino,

The appcast's settings do not define the UI language for your software. Please make sure you are setting the correct culture/UI culture in your form. See: https://stackoverflow.com/questions/4877721/c-sharp-windows-forms-localization-testing for some help.

[2019-03-05 15:00] nbpalomino commented on #58
Thanks @Deadpikle I will give a try...

[2019-03-18 17:19] #58 closed

[2019-05-15 15:51] nbpalomino opened #59 "Compatibility with Visual Basic on Visual Studio 2017 .NET 4.7.2"
Dear mantainer,

I'm trying to use NetSparkle.New with a project made in Visual Basic .NET 4.7.2, everything goes fine until I click on "Install update" button after seen an update, and throws this error on console:

**[Log] Preparing to download http://ws.reniec.gob.pe:7003/updater/dl/my-update.exe
[Log] Error showing sparkle form: Object reference not set to an instance of object**

[https://git

[2019-05-15 21:33] nbpalomino commented on #59
Nevermind, it was a null object on Icon...

Changed to use a real icon, and it works...

[2019-05-15 21:33] #59 closed

[2019-06-12 05:58] ndreisg commented on #44
While the dialog looks fine on my machine, one of my colleagues was recently able to reproduce this strange issue on his machine.
I will try to get Visual Studio on the affected machine and gain some more insight in the next few days.

[2019-06-13 14:09] ndreisg commented on #44
First thing I found out:
On the affected machine the default (recommended) scaling factor is 150%
When I set it to 100% the buttons are visible.

[2019-06-13 14:28] ndreisg commented on #44
Enabling the `AutoSize` property on the buttons fixed it.

[2019-06-15 12:15] Deadpikle commented on #44
@ndreisg Thanks for looking into this! I'll try to push out a bug fix update in the next few days. 🎈

[2019-06-23 03:57] Deadpikle commented on #44
@ndreisg
@victorct
I've uploaded a 0.16.5 build with a bunch of the buttons set to `AutoSize = true`. Please let me know if this fixes your issue, as I've been unable to replicate the bug on my machine.

[2019-06-23 04:00] Deadpikle opened #60 "Winforms UI is blurry on high DPI settings"
When a WinForms app uses Sparkle, the UI is blurry. Have tested a few fixes from [here](https://stackoverflow.com/questions/4075802/creating-a-dpi-aware-application), but they weren't successful.

WPF-based apps are fine, even when they use the WinForms-based NetSparkle UI for update checking.

See also #44.

[2019-06-23 04:08] Deadpikle opened #61 "Roadmap!"
**Current item being worked on: finishing up! Creating update guide (half done), deprecating old NuGet for `NetSparkle.New`, etc. Almost there!**

Hi everyone,

This repo has been around for quite some time, and I've never gotten around to making a 2.0 version of NetSparkle.

Here are my goals starting in August 2019 (not given in order):

### Complete

- [x] Go through the code and clean it up
-

[2019-06-23 04:14] Deadpikle opened #62 "Add EdDSA/ed25519 ISignatureVerifier"
See https://github.com/vslavik/winsparkle/issues/187 and changes in [Sparkle](https://github.com/sparkle-project/Sparkle). Would need to create a new class that implements `ISignatureVerifier`.

[2019-06-24 04:58] ndreisg commented on #44
With the new 0.16.5 version my dialog is much bigger (HideReleaseNotes = true)
Also interesting: I can only increase the size of the dialog at runtime.

[2019-06-24 05:19] ndreisg commented on #44
Problem seems to be caused by `AutoSize = true` on the dialog itself (the root Form element)

[2019-06-24 05:21] Deadpikle commented on #44
I hear you. Give me a few minutes, and I'll remove the `AutoSize = true` on the dialog.

[2019-06-24 05:27] Deadpikle commented on #44
OK, sorry about that. I've pushed 0.16.6 and commit 3920eb4 to remove `AutoSize = true` on the dialogs.

[2019-10-27 00:00] Mostlypyjamas opened #64 "NetSparkle doesn't correctly handle Sparkle items that use a redirect"
The `InitDownloadAndInstallProcess` function assumes that the path that is given in the xml is a valid final filename and sets `_downloadTempFileName` to be that filename and creates a temporary directory to contain it.

There is a problem with sparkle app feeds that use a redirect mechanism like Microsoft AppCenter - for example the feed [https://api.appcenter.ms/v0.1/public/sparkle/apps/c27e6512

[2019-10-27 16:39] Deadpikle commented on #64
Closed by #63

[2019-10-27 16:39] #64 closed

[2019-10-27 16:53] Deadpikle commented on #61
Clearly I didn't start this in August. But I am starting today in October! So I'm not dead -- if there are any urgent issues, please let me know so that I can get them fixed more quickly for your use case.

[2019-10-27 18:11] Deadpikle opened #65 ".NET Core 3 Compatibility"
.NET Core 3 is now out! Create UIs for .NET Core 3 for WPF and WinForms, and also make sure that the core NetSparkle is .NET Core 3 compatible.

[2019-10-27 18:27] Deadpikle commented on #2
Main UI for WinForms separated by 10b3f833ed8f6e9caa8944ce0af81ff48210563b. Still need to separate `ToastNotifer`.

[2019-10-27 18:40] Deadpikle opened #66 "TestApplication doesn't open release notes window on first run"
Not sure yet if a bug in NetSparkle or in the test application

[2019-10-28 12:37] Mostlypyjamas commented on #66
I'm seeing the same here - It's happening on the WPF version, the window opens briefly when created via the WPF UIFactory, and UserWIndow.Show on line 957 in NetSparkle.cs, but when code completes that thread (line 975 in NetSparkle.cs) the window is closed.

I can't see that it's being .Closed anywhere, so I wonder if the garbage collector is somehow deciding it's not needed?

[2019-10-28 12:40] Deadpikle commented on #66
Ah -- I just started working on the WPF version last night, and it's still buggy/not finished. The issue with the window not popping up I have fixed in my local copy, but not in a way that makes me satisfied.

`ShowUpdateNeededUIInner` needs to have this added after `UserWindow.Show()`:

[code]

I'm still working on it. 😅  The WinForms version runs better right now.

[2019-10-28 15:40] Mostlypyjamas commented on #66
Ah yes, in the WPF application, I've just added a reference to the Winforms Factory assembly and changed to using that - so i'm using a hybrid of the WPF test app with the WinForms factory, and all seems to work really well

[2019-10-28 17:20] Mostlypyjamas opened #67 "Be able to override the registry key used to store the Configuration"
I'm really loving Netsparkle I have to say - really great work.  One thing that we've spotted coming from Winsparkle over to Netsparkle is the ability to override the registry key used to store the config.

With Winsparkle you can call win_sparkle_set_registry_path  and having a property we can use or a method to call on Netsparkle would be great just so we can keep the reg key info for all our di

[2019-10-28 22:45] #67 closed

[2019-10-28 22:47] Deadpikle commented on #67
@Mostlypyjamas

Good suggestion! You can now do this on the `develop` branch. (Let me know if you need this on NuGet so I can `cherry-pick` to `master`.)

To set this, just create a subclass of `RegistryConfiguration` and override `BuildRegistryPath()`, which returns a `String`. Then set the `Configuration` parameter of your `NetSparkle` object. I decided not to add another param to `NetSparkle` f

[2019-10-28 23:02] Deadpikle commented on #66
Ah, I can see how that could be confusing. The idea is to split the updating logic from the UI, and you can pick whichever UI you want. That's not clear from the naming scheme or documentation. I'll keep that in mind as I keep working on it.

[2019-10-28 23:50] Mostlypyjamas commented on #66
That's ok, it does all make total sense - I like the abstraction of splitting the two - presumably at a later stage if I wanted to implement it via some other magic system - something really daft like a GPIO device or something daft! - then I could then roll a custom UI factory.

I should have been clearer with my message - I meant that having swapped the UI factory over the WinForms one, it prove

[2019-10-28 23:53] Mostlypyjamas commented on #67
That's great yes - if you were able to cherry pick that across to the nuget as 0.17.1 or similar that would be great :)  Equally, it's no problem if you want to hold off for a later roll up anyway.

[2019-10-29 02:16] Deadpikle commented on #67
`0.18.0` with just this one change to that class is now processing on NuGet and should be available shortly!

[2019-10-29 08:59] Mostlypyjamas commented on #67
That's fantastic and works brilliantly - thank you!

[2019-11-04 02:27] Deadpikle opened #70 "Refactor WPF code to use ViewModels"
The WPF code should be refactored to use ViewModels so that the creation of new views by developers is a lot easier and doesn't contain any (or very little) copied business code.

I'm keeping this as a separate line item from #3 as it is more of a "step 2" after the initial WPF UI is working.

* [x] CheckingForUpdatesWindow [not really necessary; hardly has need for binding]
* [x] DownloadProgress

[2019-11-04 03:01] Deadpikle commented on #46
This is done other than fixing the `System.Windows.Threading.Dispatcher.Run();` call to not be in the NetSparkle part of the project as that is UI related!

[2019-11-04 03:04] Deadpikle commented on #3
This is about 75% complete. All windows show up (other than the toast message, which hasn't been refactored out of the main `NetSparkle` project, but the update window still needs some work.

[2019-11-04 03:05] Deadpikle commented on #61
To track progress, check out the 2.0.0 milestone and/or watch issues and/or watch recent commits to see what I'm working on. Soon™️!

[2019-11-17 17:39] #2 closed

[2019-11-17 17:41] Deadpikle commented on #46
All done. UIs control starting their own dispatcher thread now, although for ease of UI creation NetSparkle core still handles making the new STA thread.

[2019-11-17 17:41] #46 closed

[2019-11-17 17:43] Deadpikle commented on #66
Fixed as of 3b3dc283

[2019-11-17 17:43] #66 closed

[2019-11-17 21:52] cjmurph commented on #61
Hi, I just want to throw this idea out there regarding the separation of the user interface from the core netsparkle project.

Can I suggest that netsparkle just throws events and doesn't open dialogs at all, that it doesn't need a uifactory?

The GUI specific projects for wpf and winforms could reference netsparkle, wrap sparkle to make sparklewpf and sparkleforms that do pop dialogs and have the

[2019-11-17 22:04] Deadpikle commented on #61
@cjmurph Hi!

It's an idea. I think I understand what you mean -- keep the core event handling and updates in NetSparkle.dll and _all_ UI handling elsewhere.

I think the biggest problem I see with it right now is the repeated logic between the two UIs. It also becomes much more labor intensive to create your own UI (something I want to keep easy), as it means a lot more work/copied code. There mi

[2019-11-18 01:15] cjmurph commented on #61
I've made a rough go at it here [https://github.com/cjmurph/NetSparkle/tree/seperate-ui](url)
there's definitely a cleaner way to do it to reduce maintenance, but you'll get the idea.
It builds and the test apps work.

[2019-11-19 01:17] Deadpikle commented on #61
@cjmurph Not wanting to ignore what you've done. I've got a busy week this week. If you want your other PR merged for work/software reasons, let me know. Otherwise it'll sit tight for a few days. Thanks. :)

[2019-11-19 01:34] cjmurph commented on #61
No rush, just trying to help and give some different ideas. If it's not the direction you want to go, that's cool too :)

[2019-11-26 01:01] Deadpikle commented on #3
There is now a complete WPF GUI as of 95315430e56ef2ca7617622fb43b173ddc0dbe52!

[2019-11-26 01:01] #3 closed

[2019-11-26 06:11] psionika opened #72 "Double message window"
Hello! "Minibug" - two identical message box after manual check update, if your current version is up to date.
Maybe the problem is here
https://github.com/Deadpikle/NetSparkle/blob/2ed743df782a0d4d9782cf851f381024b3c0a208/NetSparkle/NetSparkle.cs#L1497

[2019-11-27 01:55] #72 closed

[2019-11-27 01:56] Deadpikle commented on #72
Hi @psionika ! Thanks for the report. This bug has been fixed! You were right on the money with where the problem was. I appreciate you pointing this out.

[2019-12-01 23:59] #20 closed

[2019-12-02 00:07] Deadpikle opened #73 "[Input Wanted] Organization Name"
Hi anyone who reads this!

In working on a 2.0 version of NetSparkle, this library really needs to be moved off of my fork to a GitHub organization for easier discoverability and searching.

Unfortunately, the name "NetSparkle" ([github.com/NetSparkle](https://github.com/NetSparkle)) is already taken. I am looking for ideas on what to call the GitHub organization.

Should we rename NetSparkle enti

[2019-12-02 00:11] Deadpikle commented on #44
@victorct @ndreisg Are things working out for you? I never heard from you if things are working ok. I will close this issue, assuming it's resolved, but please comment here if things pop up again or are not working. Thanks!

[2019-12-02 00:11] #44 closed

[2019-12-02 00:19] Deadpikle opened #74 "Cleanup project folders on disk to match names in VS"
A bunch of projects have been renamed in Visual Studio, but not on disk. Make the two match. Make sure items go to a similarly-named output directory.

Also, consider moving everything into a src folder.

[2019-12-02 10:34] schtritoff commented on #73
More proposals:

NetSparkleNG/NetSparkleNG
NetSparkleOrg/NetSparkle

[2019-12-02 10:51] Mostlypyjamas commented on #73
I was going to suggest NetSparkle.NET but then realised that would be somewhat redundant!

Whilst I like the sound of a -vNext, I wonder if that makes it feel like it will be what to use "next" but not right now as that sort of is how Microsoft use it - fine for now, but not if you are stuck with it in a years time and it's long become the main "active" version.

[2019-12-05 00:49] lamathe opened #75 "System.IO.FileNotFoundException: Could not load file or assembly 'AppLimit.NetSparkle"
Our WPF App (x86) has been encountering an error multiple times with FileNotFoundException for AppLimit.NetSparkle even though the DLL being present.

System.IO.FileNotFoundException: Could not load file or assembly 'AppLimit.NetSparkle, Version=1.0.84.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.
   at BibaApplication.Managers.Biba

[2019-12-05 00:54] Deadpikle commented on #75
Hi @lamathe!

Hm. The version # referenced in your callstack is wrong. How are you referencing NetSparkle in your project? Are you using Nuget? Are you referencing the `NetSparkle` Nuget or `NetSparkle.New`? Do you have two NetSparkle references in your code somehow? Can you please provide more details on your setup?

Thanks! :)

[2019-12-05 00:56] Deadpikle commented on #75
Wait, what is `AppLimit.NetSparkle`? Is `AppLimit` another library you're referencing? (Sorry I didn't notice that before.)

[2019-12-05 12:54] Deadpikle commented on #75
@lamathe

I see that `AppLimit.NetSparkle` is the old namespace for this project. (It's been so long since that was changed that I forgot!) This means you are not using this fork of the code. Please reopen this issue if you choose to use this fork. Please also keep in mind, for whatever project you're working on right now, that the old version under the `AppLimit.NetSparkle` namespace is _not_ upd

[2019-12-05 12:54] #75 closed

[2019-12-05 22:25] lamathe commented on #75
Cool thanks @Deadpikle

[2019-12-09 00:59] Deadpikle commented on #73
Thanks for your input! Good point about `vNext`, there. Forget that one.

What about NetSparkleUpdater/NetSparkle? It keeps the original name while adding clarity of purpose to newcomers who aren't familiar with the Sparkle project in general.

[2019-12-09 01:34] Deadpikle opened #77 "[Discussion] Split UI entirely off of main NetSparkle project"
@cjmurph has made a proposal that even more UI code be split off into their own projects. His code is here: https://github.com/cjmurph/NetSparkle/tree/seperate-ui Regardless of the outcome of this discussion, I want to thank him for the time and effort he's put into this. (I'm also sorry for the wait!)

The proposal is essentially that the UI projects respond to NetSparkle's event handlers rather

[2019-12-09 01:34] Deadpikle commented on #61
Moving this discussion on further refactoring to #77. Thanks, and sorry for the wait.

[2019-12-09 04:49] cjmurph commented on #77
There was way too much duplication in my quick scratch up between the UI projects. I was cringing while doing it. It's by no means an optimal solution.

I still think it's an idea worth pursuing, hopefully someone smarter than me can offer a better solution :).

[2019-12-09 09:33] Mostlypyjamas commented on #73
Netsparkleupdater sounds like a really option- we actually hadn't heard of sparkle feeds until Microsoft added them to app enter, but we had searched nuget for automatic update packages plenty of times, and I suspect overlooked anything sparkly as we just didnt know what it was!

Putting updater on the end makes a lot of sense

[2020-01-14 10:54] Mostlypyjamas opened #78 "Text wrapping on Software Download (and no available update) dialog in 0.18"
Hi,

We're using the 0,18 Nuget package, and we have an issue with the text in the dialogs wrapping on longer captions and it overlaying the Icon.

I know you're doing a lot of refactoring for v2, but would it be possible to get an updated fix and buget for 0.19 (yes, a cheeky request i know!) :)

Thanks,

![image](https://user-images.githubusercontent.com/3703626/72338120-b6b01a00-36bb-11ea-9a34-

[2020-01-14 11:42] Mostlypyjamas commented on #78
Submitted a PR :)  https://github.com/Deadpikle/NetSparkle/pull/79

[2020-01-14 13:20] Deadpikle commented on #78
@Mostlypyjamas  Not a problem to push to Nuget! Thank you for your contribution and the bug report. Nuget is processing a new build now -- labeled 0.18.1 since it was just a bug fix.

[2020-01-14 13:20] #78 closed

[2020-02-14 22:02] Deadpikle commented on #65
The core NetSparkle is now compatible with `netstandard2.0`! Now on to the UI's and sample projects...

[2020-02-14 23:07] Deadpikle commented on #65
The tools packages now run on `netstandard2.0` rather than .NET Framework and will not multi-target as they are just command line tools.

There's now a preview version of NetSparkle that is .NET Standard compatible on NuGet [here](https://www.nuget.org/packages/NetSparkle.New/2.0.0-preview20200214). You should be able to use this in your WPF/WinForms apps, but the new version doesn't contain a UI,

[2020-02-14 23:08] Deadpikle commented on #74
Done in b2eb020db6a3742b71e9ef4d7b0716843cb72efd and 616e87d

[2020-02-14 23:08] #74 closed

[2020-02-14 23:21] Deadpikle commented on #73
This is what I'll go with unless I get complaints:

Name => `NetSparkleUpdater`. We keep the base name but add `Updater` to help people know what this is used for. I thought about `NetSparkleAppUpdater` but it's really close to [NAppUpdate](https://github.com/synhershko/NAppUpdate).

* GitHub org: `NetSparkleUpdater/NetSparkle`
* NuGet Packages
  * `NetSparkle` (eventually deprecate but it has tra

[2020-02-17 09:32] Mostlypyjamas commented on #73
This sounds like a really good roadmap - and I think NetSparkleUpdater sounds like a really good new name - clean and like you say, really explains what it does clearly

[2020-02-18 00:54] Deadpikle commented on #65
NetSparkle UIs are now compatible with .NET Core 3.0, so this is finally working!

Not on Nuget yet, but we'll get there.

[2020-02-18 00:54] #65 closed

[2020-02-18 01:29] Deadpikle opened #81 ".NET Core UI -- application icon doesn't render properly"
The application icon isn't showing up in the .NET Core UI for some reason. It renders _an_ icon, but it looks like the wrong icon entirely?!

[2020-02-18 02:24] Deadpikle opened #82 "Refactor to put application icon in UI factories"
Rather than passing it to NetSparkle, which doesn't use the icon, pass the icon to the UI factory.

[2020-02-18 02:29] #81 closed

[2020-02-18 17:23] Deadpikle opened #83 "Appcast generator: Don't modify Environment.CurrentDirectory"
When `Environment.CurrentDirectory` is adjusted, it causes some command line params to work rather strangely. The new `/CL` flag for adding changelogs must now be relative to whatever `Environment.CurrentDirectory` gets set to.

With the current directory setup:
[code]

If you run the following on the command line:

[code]

It will fail because `Environment.CurrentDirectory` is changed to `Output`

[2020-02-21 21:38] Deadpikle commented on #82
Fixed in 16f14defb3e67a20c473385fa5a8d554090ca087..064f75caa74a4f56184b5a7687e899d76641a02d

[2020-02-21 21:38] #82 closed

[2020-02-21 21:55] #83 closed

[2020-02-21 22:33] Deadpikle opened #84 "Improve continuous deployment"
I really want to have to stop manually pushing to NuGet. I'd rather just push to `develop`/`master` and have things deployed for me.

* [x] Fix `dotnet build NetSparkle.sln --configuration Release` not working. I can't get it to run locally, either. Maybe I have to build the projects themselves instead of the whole SLN at once?
* [x] Make it deploy core NetSparkle package
* [x] Make it deploy WPF

[2020-02-21 22:48] Deadpikle commented on #84
It looks like `NetSparkle.UI.WinForms` is to blame. When I try to build that one on the command line, I get tons of errors.

See also https://github.com/microsoft/msbuild/issues/4704 and https://github.com/microsoft/msbuild/issues/4804. Need to figure this one out. 🤔 When I add `System.Resources.Extensions` locally, it just shows the little yellow triangle with no explanation as to what's wrong...

[2020-03-15 21:15] Deadpikle opened #85 "Create configuration for keeping track of versions watched/unwatched that doesn't rely on Win32 registry"
Right now, we don't have a default `Configuration` subclass/implementation that will work outside of Windows. We should provide one that saves to a file/disk somewhere that works cross-platform.

[2020-03-22 23:30] Deadpikle commented on #41
I'm closing this because I'd rather not have a terrible thing of the user being forced to use task manager (or similar) to close our update/info window. If a user wants this, they can implement this in their own UI.

[2020-03-22 23:30] #41 closed

[2020-03-23 01:24] #70 closed

[2020-03-23 01:26] Deadpikle commented on #85
See also:

* http://michaco.net/blog/EnvironmentVariablesAndConfigurationInASPNETCoreApps
* https://developers.redhat.com/blog/2018/11/07/dotnet-special-folder-api-linux/
* https://docs.microsoft.com/en-us/dotnet/api/system.environment.specialfolder?view=netframework-4.8

[2020-03-23 01:32] Deadpikle commented on #77
I am still open to doing this eventually, but I want to leave it off the table for 2.0, which is taking me enough time to get ready as it is without more refactoring due to my limited free time. I've changed the milestone to a tentative '3.x' accordingly.

[2020-04-05 19:16] Deadpikle commented on #18
Deciding to keep `CloseApplication` for now so that users can have the most customization possible. `AboutToExitForInstallerRun` is a "pre-closing" event and shouldn't actually kill things yet, so we can't kill everything there. I'd rather they handle things through NetSparkle instead with the whole custom UI thing (since technically they could use this without WPF or WinForms!), so I'm keeping it

[2020-04-05 19:16] #18 closed

[2020-04-05 19:26] Deadpikle commented on #35
Not actually a problem -- `AssemblyDiagnosticsAccessor` is purposefully not using reflection. `Assembly.LoadFrom` returns reflection info, which we are avoiding, so we can't get the title this way. So, for now, I'm calling this "not a problem."

[2020-04-05 19:26] #35 closed

[2020-04-05 20:45] Deadpikle commented on #28
Closing in lieu of #61 (Roadmap)

[2020-04-05 20:45] #28 closed

[2020-04-05 20:45] #85 closed

[2020-04-07 12:11] Deadpikle commented on #73
This repo is now setup as a normal repo (not a fork of a repo) so that it can be more easily searched -- found out that when you transfer a repo, it still acts like it is a fork.

**This repo will be moving to `NetSparkleUpdater` ([GitHub here](https://github.com/NetSparkleUpdater)) sometime soon!!**

[2020-04-12 16:59] Deadpikle commented on #73
We are now at https://github.com/NetSparkleUpdater/NetSparkle!

[2020-04-12 16:59] #73 closed

[2020-04-12 18:25] Deadpikle commented on #84
Working now finally! I'll add the moving of final NuGet package names/references to the roadmaps as a final last step.

[2020-04-12 18:25] #84 closed

[2020-04-12 18:33] Deadpikle opened #86 "Make sure NetSparkle works without using one of the built in UI factories"
* [x] Make sure person can use core NetSparkle DLL without a UI factory and still respond to events, etc. appropriately.
* [x] Write guide or create sample for doing the above task

[2020-04-16 01:07] Deadpikle commented on #86
Yeah, there appear to be a lot of holes, here. I'm working on a sample of this functionality, but it looks like a good chunk of the core NetSparkle still relies on their being a UIFactory of some sort, which is obviously a problem.

[2020-04-17 00:57] Deadpikle opened #87 "IUpdateDownloader needs to be able to report errors"
Right now, it can't propagate errors to NetSparkle or to the UI to show back to the user via the `DownloadError` event.

[2020-04-17 01:01] Deadpikle commented on #86
There's now a `NetSparkle.Samples.HandleEventsYourself` to show you how to do this.

[2020-04-17 01:01] #86 closed

[2020-04-17 01:04] Deadpikle opened #88 "Investigate why update exe starting immediately if I call InstallUpdate manually -- needs testing"
Right now, the sample starts the .exe immediately. Need the client to be able to go through the path that runs the .bat file which waits for the download to finish.

[2020-04-17 01:05] Deadpikle opened #89 "Documentation Updates"
* [x] Document that if you don't implement a UIFactory, you must handle `CloseApplication` or `CloseApplicationAsync` yourself!!!
* [x] ~~Update README.md with all the new / changed public APIs~~ (update: decided to rely on XML docs for method details and params instead of plopping all docs here on the repo. Maybe in the future we can use some automation to put those on the NetSparkleUpdater websi

[2020-04-19 14:59] Deadpikle commented on #87
I'm wrong. The `AsyncCompletedEventArgs` has information on an error. Oops. 😅

[2020-04-19 14:59] #87 closed

[2020-04-19 15:22] Deadpikle commented on #88
This isn't happening like the bug describes. I must have been tired when I filed this one.

[2020-04-19 15:22] #88 closed

[2020-04-21 18:30] Deadpikle opened #90 ".deb install fails"
https://askubuntu.com/questions/40779/how-do-i-install-a-deb-file-via-the-command-line

Need to switch it to run `sudo dpkg -i` instead.

[2020-04-25 14:52] flemingm commented on #61
Great Work!

[2020-04-25 16:35] flemingm commented on #89
Localization information from the old site seem to be missing, also may need updated due to changes. I can only find APP variable being handled (I search all file for both text and TEXT.Replace). The DOWNLOAD and OLDVERSION variable do not seem to be used in current version.

ie.
<value>APP が利用可能になりました。 （OLDVERSION があります） 今すぐ [DOWNLOAD] しますか？</value>

UpdateAvailableWindow.JA.resx:131:

[2020-04-25 16:58] flemingm commented on #60
also see: https://stackoverflow.com/questions/22735174/how-to-write-winforms-code-that-auto-scales-to-system-font-and-dpi-settings

[2020-04-26 15:40] Deadpikle commented on #62
There's an ed25519 library compliant with .NET Standard here: https://github.com/Deadpikle/Chaos.NaCl (forked from https://github.com/CodesInChaos/Chaos.NaCl). It's in the public domain. If that were to be referenced from our project, implementation would be fairly straight forward.

[2020-04-26 15:45] #90 closed

[2020-04-26 16:13] Deadpikle commented on #89
Yes, there is a serious lack of localization capabilities right now in the 2.0 beta. Only the WinForms app "sort of" did localization in the first place, and the Avalonia/WPF UIs don't have any localization support, basically.

I will make a new issue for localization support for a 2.x version.

[2020-04-26 16:18] Deadpikle opened #92 "Localization support"
Localization support was psuedo-dropped for 2.0 due to time purposes. Users can always create their own UI, of course, but our built-in UIs should support localization. It would also be nice if localization was supported via the core NetSparkle DLL rather than being in the UI factories. (Is that possible?)

* [ ] Investigate whether moving all UI localization to the core NetSparkle is possible in

[2020-04-26 16:23] Deadpikle commented on #60
This only seems to affect the .NET Framework version. Based on the samples, the .NET Core version works on high DPI screens just fine.

[2020-05-06 09:00] hypervtechnics opened #93 "Provide events for installer"
It would be nice to receive events like with Squirrel to react to certain - who would have guessed - events.

Events:
- Install
- First run
- Update
- Uninstall (probably not possible everywhere)

Also cool to create a small framework to handle migrations to be run when certain versions are passed during an upgrade.

[2020-05-10 15:16] flemingm commented on #92
Questions:
should JA resource be listed in 👍
https://github.com/NetSparkleUpdater/NetSparkle/blob/develop/src/NetSparkle.UI.WinForms.NetFramework/NetSparkle.UI.WinForms.NetFramework.csproj

[2020-05-10 19:26] Deadpikle commented on #93
Rather than using events, I chose to use properties on the `Configuration` object since `Configuration` was already in place and let me keep all the logic there rather than adding more logic to `SparkleUpdater`.

In the latest preview of `NetSparkle`, you can now use `Configuration.IsFirstRun` to see whether this is the first time the application has run. If you reload the configuration data by ca

[2020-05-10 19:29] Deadpikle commented on #92
Probably. Good catch.

[2020-05-10 20:40] hypervtechnics commented on #93
What do you think about storing the previous version as `Version?` (Nullable), so you don't have to parse it?

[2020-05-12 20:36] owaits opened #94 "Download finished message displayed on non UI thread after Download"
If I run the WinForms sample and when prompted the update select update it starts to download the version to install but once the download is finished the update occurs on a non UI thread causing a cross thread exception.

The function FinishedDownloadingFile is called in NetSparkleUpdater.UI.WinForms.DownloadProgressWindow it then tries to set the progressDownload visibility but it is not on a UI

[2020-05-12 20:40] owaits opened #95 "Error text does not fit for WinForms"
If an error occurs with the connection, the resulting error message does not fit in the dialog and is truncated quite abruptly.

![image](https://user-images.githubusercontent.com/13810266/81743069-f71c7a80-9498-11ea-9a3a-3b1063ab1075.png)

To re-produce this simply set the appcast url to nonsense in the NetSparkleUpdater.Samples.NetFramework.WinForms sample and select Explicit User Request To Che

[2020-05-13 00:19] #94 closed

[2020-05-13 00:19] #95 closed

[2020-05-13 00:20] Deadpikle commented on #94
Hey @owaits, I appreciate your bug reports! This has been fixed and is in the new preview version `2.0.0-preview20200512001`. Thank you!

[2020-05-13 00:20] Deadpikle commented on #95
Hey @owaits, thanks for reporting this! This has been fixed and the fix is in the new preview version `2.0.0-preview20200512001`. Thank you!

[2020-05-27 17:39] anti-matter opened #96 "AppCenter compatibility with DSA signatures"
I'm using the latest preview release as of this writing and am trying to use NetSparkle with AppCenter. Additionally, I'm trying to use DSA signatures but am running into an issue where NetSparkle expects there to be a .signature or .dsa file for the appcast.xml file verification.

I assume I can get this working by writing custom signature verifier and parser, but am wondering if this is the corr

[2020-05-27 17:44] Deadpikle commented on #96
Hi @anti-matter! :) I'm a little unfamiliar with AppCenter, so bare with me.

Well, that's one way to do it. The software is trying to verify that the app cast that was downloaded can be verified. I'm guessing app center doesn't have a separate .dsa or .signature file to verify the app cast, so, you can try one of two things:

1. Use `SecurityMode.UseIfPossible` (https://github.com/NetSparkleUpdat

[2020-05-27 17:55] anti-matter commented on #96
Thanks @Deadpikle for the quick response. With `SecurityMode.UseIfPossible` is still expects to find a .signature / .dsa file. I will implement #2 and report back here.

[2020-05-27 19:04] Mostlypyjamas commented on #96
We use Netsparkle with Appcenter and in the end we settled on just using SecurityMode.Unsafe as that was the only way it would work.

There is documentation from appcenter of how to create a dsa but its really complex and requires a bunch of api calls every time you upload a new build , and in the end we settled on trusting appcenter to be secure enough for our purposes 🙂

[2020-06-02 06:27] Bren2010 commented on #62
@Deadpikle If this is easy, do you mind doing it? DSA-SHA1 signatures haven't been secure [for many years](https://www.computerworld.com/article/3173616/the-sha1-hash-function-is-now-completely-unsafe.html), and it would be nice to have a secure option

[2020-06-02 11:01] mphill opened #97 "Xamarin.mac support"
Running a Xamarin.mac app that uses NetSparkle crashes on instantiation of NetSparkle with version 2.0 with the exception: `Attribute of type System.Reflection.AssemblyProductAttribute`

Supporting NetSparkle on Xamarin.mac would be a great addition. I noticed the core package has some windows specific references like `Microsoft.Win32.Registry`.  If that was moved from the core package and into th

[2020-06-02 11:42] mphill commented on #97
A quick update, this is working on master now.

However, iOS and MacOS apps are not supported.

[code]

Are you Ok if I do a pull request to add an InfoPlistConfiguration?

On iOS and MacOS Info.plist is the analog to AssemblyInfo in some respects.

[code]

This code would need to be refactored to abstract the AssemblyAccessor out.

[2020-06-02 11:55] Deadpikle commented on #96
If `SecurityMode.UseIfPossible` isn't working here, that's probably a bug. Thank you for finding that issue. I will get to it when I can.

Thanks also @Mostlypyjamas for your response and input!

[2020-06-02 11:55] Deadpikle commented on #62
@Bren2010 I will try to do it within the next week if I can!

[2020-06-02 12:04] Deadpikle commented on #97
Yes, you'd be welcome to open a PR. A few things, though:

1. If you're on macOS, I highly recommend using [Sparkle](https://github.com/sparkle-project/Sparkle) instead of this lib as it is a native library that has stood the test of time in terms of features and usage. (Also has delta updates.) I got it working on an Avalonia app, so I think it should work on Xamarin.Mac. See [my directions for u

[2020-06-02 17:46] mphill commented on #97
Thanks for the recommendation, but maintaining native bindings has its own set of issues, and it can be very time consuming. I'd like to explore what supporting Xamarin (Mac, Android, iOS) apps might look like. Using sharpie to generate ApiDefintions is very tedious.

I can do this, but in order to read the Info.plist at runtime, I would need to add Xamarin.Mac as a dependency in order to call `NS

[2020-06-03 12:23] Deadpikle commented on #97
Understood.

You can set `SparkleUpdater.Configuration = myConfig;` ([see here](https://github.com/NetSparkleUpdater/NetSparkle/blob/develop/src/NetSparkle/NetSparkle.cs#L250)) or do something like

[code]
Just don't call the default constructor in the subclass for now.

Hm...regarding Info.plist: I don't see yet why we couldn't just read that in as XML. We don't _really_ need a lib for reading th

[2020-06-03 17:46] mphill commented on #97
I think that would work. I thought in the past I saw binary data in the info.plist once compiled, but looking around I don't see it. I think parsing the info.plist as xml works, but if you add a new project it could all be done with native calls.

I would propose this, a new project named:

`NetSparkleUpdater.Xamarin` with `NetSparkleUpdater` as a reference.

It would hold OS specific implications

[2020-06-04 00:40] Deadpikle commented on #97
`NetSparkleUpdater.Xamarin` sounds fine along with the ref. You don't need to touch the main project though since you can set the `Configuration` property on `SparkleUpdater` without  `SparkleUpdater` needing to know about the extra refs.

[2020-06-05 00:50] Deadpikle commented on #97
Posted this in PR #98 too, but for historical reference regarding referencing Xamarin in VS:

[2020-06-05 12:30] anti-matter commented on #96
Following up on this. Using a custom `IAppCastHandler` was the ticket. Main piece is to replace the `DownloadAndParse()` method from the standard in-box handler. Below is an example.

[code]
All this does is eliminate the dsa check on the appcast.xml file.

[2020-06-05 12:30] #96 closed

[2020-06-05 19:09] mphill commented on #62
Just wanted to chime in, I added Ed25519 support the to AppCastGenerator last night.

DSACryptoServiceProvider is a thin windows only wrapper. Can't generate keys on linux / mac.

I can implement ISignatureVerifier for Ed25519 this weekend, we can switch the project over to Ed25519 if you want.

Let me know.

[2020-06-05 22:24] Deadpikle commented on #62
I was planning to work on it this Sunday if I could. I don't mind if you open a PR for it, but there's no rush. I'll check again Sunday whenever-I-get-to-it to see if you've done it already; if not, I'll work on it. (Also planning to look at your other PR on Sunday.)

I am planning/will want unit tests for Ed25519 stuff. We'll also need a new/updated command line tool for verifying/checking/genera

[2020-06-06 00:21] mphill commented on #62
https://github.com/mphill/NetSparkle

I didn't do a PR yet, but I already merged the command line checker into the app cast app and created Ed25519Checker.

These are the new options:

[code]

[2020-06-06 00:25] Deadpikle commented on #96
Thanks for following up. I really appreciate it. I have added a checklist item to #89 to remind me to look here when doing documentation updates as well as a note in #61 to look at `SecurityMode.UseIfPossible` and fix that up.

[2020-06-06 14:29] mphill opened #99 "NetSparkle.Tests is .NET Framework"
I can't add unit tests as a developer because .NET Framework projects won't open on Macs.

I think that .net core or standard should be the targets for all project unless absolutely necessary.

There are some good techniques for supporting multiple targets in the same project

https://github.com/jamesmontemagno/VibratePlugin/blob/master/src/Vibrate.Plugin/Vibrate.Plugin.csproj is a project for Xam

[2020-06-07 14:52] #99 closed

[2020-06-07 14:54] Deadpikle commented on #99
Thanks for the report!

I've made the unit test project compatible with both .NET Framework and .NET Core. I prefer XUnit to NUnit, so I also converted the project to use XUnit.

I also bumped the minimum .NET Framework version to 4.5.2 from 4.5.1. We are not dropping support for .NET Framework at this time. Based on the download stats, we have plenty of people still using .NET Framework (for WinF

[2020-06-07 15:37] Deadpikle commented on #97
I was able to add a Xamarin project to the solution from Visual Studio for macOS. Visual Studio on Windows is complaining on my end, but no big deal.

I had to run a manual `dotnet restore` from within `src/NetSparkle` before Visual Studio for macOS would build the Xamarin DLL project.

At this point, it should just be the implementation of the implementation to get things running. Once things are

[2020-06-08 01:07] Deadpikle commented on #62
@Bren2010 Ed25519 support is now on `develop` and is in `v2.0.0-preview20200607001` (available once CD finishes) along with many updates to the app cast generator tool! Please test it out and let us know if you have any issues.

[2020-06-08 01:07] #62 closed

[2020-06-08 01:08] Deadpikle commented on #93
I'm sorry for forgetting to reply.

I would rather let the user parse the string themselves if they need to -- they might be storing the version in formats such as `2.0.0-beta2342` or some other incompatible-with-`Version` format.

[2020-06-08 01:16] Deadpikle opened #100 "[Help Wanted/Discussion] New icon for 2.0"
Hi everyone,

I'd love to have a new, high-resolution icon/graphic for NetSparkle v2.0. The current icon is rather low res and WinSparkle (a great framework for software updates for C++!) uses the same icon, so I want to remove confusion between the two frameworks and anyone else who uses the same icon.

I, uh, am a programmer and definitely not an artist. I am open to ideas and input.

Thanks for

[2020-06-08 01:23] Deadpikle opened #101 "Investigate and fix SecurityMode.UseIfPossible not working right for .signature file"

[2020-06-08 11:19] mphill commented on #100
![image](https://user-images.githubusercontent.com/2466039/84024682-f0760b80-a94f-11ea-9c67-4bfb5fc83c5e.png)

Just a quick idea.

[2020-06-08 14:03] Bren2010 commented on #62
Thank you!!

[2020-06-13 14:46] furesoft opened #103 "cross platform appcast generator based on avalonia"
could you make a gui to create appcasts and automaticly upload the updates and the new appcast file to a ftp server

[2020-06-14 14:47] Deadpikle commented on #103
Hi @furesoft!

That's going to be outside the scope of this project for quite a while, I think. It's not a bad idea; in fact, the idea of helping users get their files uploaded was brought up in a recent PR. However, there is enough on my plate that unless it came in as a contribution, this project probably wouldn't support it. I'm not sure that even if a contribution for it came in I'd accept a f

[2020-06-14 16:45] Deadpikle commented on #101
OK, this was actually working as documented, even though it has a somewhat confusing name. It means, "if there is a public key available, use it!". It does not mean "if we couldn't find a signature for something, that's OK."

I added a new `SecurityMode.OnlyVerifySoftwareDownloads` for users who only want to verify the signature of their software downloads.

[2020-06-14 16:45] #101 closed

[2020-06-17 09:25] miroelk opened #104 "AppCastGenerator - cannot generate keys"
Hi,
I'm using latest preview as of writing this and I'm not able to generate keys.

I have tried adding Nuget to my project (using .NET Core 3.1), but I got an error:
[code]
The Nuget is not yet compatible with .NET Core 3.1, no problem, so I cloned the repo (develop branch) and built project NetSparkle.Tools.AppCastGenerator and it was built sucessfully.
Afterwards I opened cmd and ran command **

[2020-06-17 12:14] Deadpikle commented on #104
Hmmm, it seems like there are two problems:

1. Adding the tools via NuGet should work -- the tools both target `netcoreapp3.0`, but clearly something thought it was for .NET Framework. Hm.
2. The tools aren't distributed as self-contained apps (they probably should be).

Could you try installing the .NET Core Runtime (https://dotnet.microsoft.com/download/dotnet-core/3.1 -- see the `Desktop Runti

[2020-06-17 13:19] miroelk commented on #104
After I reinstalled Desktop Runtime, it started working.

The interesting point here is that even though I had already installed .NET Core SDK and when I listed runtimes, Desktop Runtime was there. But it wasn't installed correctly, probably because of the missing dll, but after reinstalling it, just the Desktop Runtime, it was fixed and is working now.

[2020-06-18 15:15] bragma opened #106 "AppCastGenerator - Incorrect URL generated"
Hi,
I've noticed an error in the file generated by AppCastGenerator. The enclosure url contains a ) character at the end, I think the cause is [here](https://github.com/NetSparkleUpdater/NetSparkle/blob/9a5afbc8f523d0d3a5c67ad401f8ee3573c89b00/src/NetSparkle.Tools.AppCastGenerator/Program.cs#L231):

Notice the ) at the end:

`var remoteUpdateFile = $"{opts.BaseUrl}/{(opts.PrefixVersion ? $"{versio

[2020-06-18 15:22] bragma commented on #106
Sure let me 10 mins to work on it!

[2020-06-18 15:24] bragma commented on #106
Ok it actually took 1 minute :)
I was looking for tests to the generator program itself but there are none. Still, it will take more time to work on that.

[2020-06-18 15:26] Deadpikle commented on #106
No worries on the tests. I realize they are very much non-existant and very much need to be created, but this will do for now. Thanks again -- will take a look over lunch today.

[2020-06-18 18:14] Deadpikle commented on #106
Thank you again! This will be in `2.0.0-preview20200618001` whenever CI/CD finishes running.

[2020-06-18 18:14] #106 closed

[2020-06-19 08:12] bragma opened #108 "Interface for logging instead of inheriting from LogWriter"
Hi,
I am using NLog in my WPF application. LogWriter has a virtual PrintMessage method which is ok, I created a class and redefined it to use NLog's methods, still PrintDiagnosticToConsole does not fit well in this scenario. NLog and other loggers have more complex methods to define log sinks and have way more options than just Console/Debug.

It would be much better to log using an interface inst

[2020-06-19 08:33] bragma opened #109 "WPF UI should not use static positioning of elements"
Some dialogs have problems if buttons have styles applied. As an example, I am using material style buttons and this is the result:

![image](https://user-images.githubusercontent.com/1101058/85113692-fd301480-b217-11ea-800b-3ae0efe33f2d.png)

This is because The "Remind me Later" button is positioned on the left of the "Download" button with a static margin value. This does not work if the final

[2020-06-21 15:51] #108 closed

[2020-06-21 15:51] #109 closed

[2020-06-21 15:52] Deadpikle commented on #104
Thanks again for this report. I've done a few things here:

1. Updated the readme in this repo to make it more obvious that you need the desktop runtime installed
2. Added a readme.txt to the tools NuGet to tell people to use the desktop runtime
3. Don't publish tools trimmed (in case this was the real cause...)
4. Updated tools to use .NET Core 3.1

I ran a test, and from a new .NET Core 3.1 proj

[2020-06-21 15:52] #104 closed

[2020-06-21 15:55] Deadpikle commented on #109
I went ahead and did this since I had some time today. I used a `StackPanel` instead since I think (?) that's a little simpler than a full DockPanel. This change is available in `2.0.0-preview20200621001`.

(If there are further issues, please feel free to open a PR after filing a bug.)

Thank you for the report! :)

[2020-06-21 15:56] Deadpikle commented on #108
Great suggestion. It makes a lot of sense to do this.

`2.0.0-preview20200621001` uses an `ILogger` interface rather than `LogWriter`. Unfortunately, this caused a change to `IAppCastHandler`, too, but since we are still pre-release-candidate, this breaking change was OK. 😅

Thank you!

[2020-06-22 19:46] bragma opened #111 "ObjectDisposedException in RetrieveDestinationFileNameAsync"
RetrieveDestinationFileNameAsync caused an internal ObjectDisposedException because of the use of ResponseHeadersRead and abruptly closed connection. The original idea was probably to just the info about the file and not actually download it, but HEAD method should be used instead for that scope. Using GET causes the server to buffer data expecting the client to read it, while previous implementat

[2020-06-28 23:19] #111 closed

[2020-07-06 02:04] psionika opened #112 "Error with localized usernames"
Hello. I found a small bug in the **RunDownloadedInstaller(string downloadFilePath)** function. If the user name contains letters of a different alphabet, the update will not be performed.

Error example:
<img width="713" alt="bug" src="https://user-images.githubusercontent.com/2479338/86548595-f1fb1980-bf77-11ea-8871-056b1b35ed10.PNG">

For correction, I rewrote it like this

[code]

[2020-07-06 14:16] SDR0512 commented on #100
![b5e6c048-e5a8-453f-90a6-5a31b93100c6_200x200](https://user-images.githubusercontent.com/58349712/86603220-58f0f080-bfc1-11ea-9468-642c8c7d4563.png)

[2020-07-07 20:38] qwetboy10 opened #114 "Checking for new version crashes program"
I'm using WPF with .net core 3.1 and NetSparkleUpdater.UI.WPF version 2.0.0-preview20200628002. When I manually check for updates with `CheckForUpdatesAtUserRequest();` my app crashes hard (Trying to open the visual studio just in time debugger doesn't work / the WPF DispatcherUnhandledException event doesn't fire). I initialize the sparkle object with the below code:
[code]
Do you know what could

[2020-07-07 20:42] qwetboy10 commented on #114
Catching the error with a try/catch also doesn't work by the way.

[2020-07-07 23:03] Deadpikle commented on #112
Ooof, a good old UTF-8 issue! I'll make sure to address this next time I take a look at fixing/updating things (usually once a week or so). Thank you for the report!

[2020-07-07 23:10] Deadpikle commented on #114
Hi @qwetboy10!

Thanks for your report. Unfortunately, I'm unable to replicate it using the samples on my end (same version of .NET Core and WPF). Can you provide any more details, please?

* Able to run your app from Visual Studio debug mode to catch the exception there?
* Are you sure the issue is with NetSparkle and not something else that's going on?
* Have you looked in Window's Event Viewer

[2020-07-08 17:17] qwetboy10 commented on #114
Also, the WPF examples work without crashing. It says something about how the server is having a problem, but I'm just assuming that's because I didn't set my appcast up right.

[2020-07-10 13:42] Mostlypyjamas commented on #100
As a suggestion, how about keeping the icon basically the same but with a large italic # symbol in the bottom right hand corner of the icon - as in a gentle nudge towards C# use - we are actually a VB.net shop, but seeing a #  on something always suggests .NET to me :)

[2020-07-10 18:53] jfro opened #115 "Support .NET Core tool installation"
Thought an easy way to get the NetSparkle.Tools installed and available for me to use might be using `dotnet tool install` but it looks like it's not a compatible package type to do so. Wondering if this might be a useful thing to do, to make it that type of package?

Trying gets this which troubleshooting says it's a regular nuget package instead of a Core Tool package:
[code]

[2020-07-10 23:07] Deadpikle commented on #114
Hmm....I will try to debug more on Sunday my time, but can you try setting `SparkleUpdater.ShowsUIOnMainThread` to `true` before calling `StartLoop`?

[2020-07-10 23:11] Deadpikle commented on #115
This is a great idea. Thank you for the suggestion.

Note to self/whomever: https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-create is a tutorial on how to do this. Will need to figure out how to update the current NuGet and/or the CI/CD to do all this.

[2020-07-12 22:16] Deadpikle commented on #114
I spent some time trying to reproduce this without success. Please provide a full stack trace and/or a reproducible sample so I can look into it more, and please also try the `ShowsUIOnMainThread` property; otherwise, I'm really not able to pinpoint what the issue is. Thanks!

[2020-07-12 22:23] Deadpikle commented on #112
This is being pushed out now in `2.0.0-preview20200712001`. Thanks! (Used a UTF-8 encoder instead as your suggested fix did not work on my system.) Again, appreciate your report and help!

[2020-07-12 22:25] Deadpikle commented on #114
Yes, that's likely the case -- check the `ILogger` (debug/console/output log) output as needed to help debug this.

[2020-07-12 22:34] Deadpikle commented on #100
I like this idea. Perhaps this in combination with a slight color change would work well.

I see in the WinSparkle repo that the icon apparently comes from the old Tango Project icon set (as seen here)[https://github.com/vslavik/winsparkle/tree/master/artwork]).

[2020-07-13 01:34] psionika commented on #112
Unfortunately, your fix does not solve the problem in my case :( I tested in two versions - pure Windows 7 and Windows 10
<img width="1004" alt="Capture" src="https://user-images.githubusercontent.com/2479338/87262311-6f80d580-c4f4-11ea-882a-253cb4b76f7e.PNG">

[2020-07-13 12:30] Deadpikle commented on #112
Thanks for the feedback and letting me know the fix didn't work.

Is that text you're using the actual username you're using? I wonder if the issue is more to do with the space in the name than what's showing up in your console (console isn't necessarily UTF-8 friendly all the time). A quick glance at the code shows that spaces in the output may cause issues; I need to dig deeper.

Would you be wi

[2020-07-13 13:23] jfro opened #116 "WPF UI Doesn't seem to render release notes"
Poked at it some, and I see valid looking HTML going to the UI's WebBrowser control, but it remains blank. Seems like the code is all there and content is being built for it, so figure there must be a bug somewhere. Wasn't able to notice anything myself though.

I also didn't see the loading release notes message show at all before my content is attempted to be loaded.

[2020-07-13 13:26] Deadpikle commented on #116
Hi @jfro! Thanks for the report. This is working fine in the samples.

Please provide a reproducible sample if you can. Can you point me to your appcast? Are you using a WPF UI library that might be messing with this? Can you download the code here and try sticking your appcast URL in the samples to see if it is working there?

Thanks!

[2020-07-13 13:51] jfro commented on #116
Hmm samples timed out on the default setup, will try again. Feeding the WPF sample app my appcast URL reproduced it so that's promising. I'll investigate further and get you more info soon

[2020-07-13 14:12] jfro commented on #116
Here's a copy of the appcast, it's a non-public build currently so just stripped the base URL, otherwise the appcast is what's being served to the updater. It pulls it down OK and generates HTML from what I can see. We used generate_appcast with a directory of markdown files & our installer files
[studio.zip](https://github.com/NetSparkleUpdater/NetSparkle/files/4913016/studio.zip)

[2020-07-13 14:43] jfro commented on #116
Narrowed it down to inline changelog contents via <description> tags. This is what generate_appcast did when pointed at folder of markdown.

There a way to use that tool with the URL style changelog like your sample has?

[2020-07-13 15:22] jfro commented on #116
OK figured out the URL method, wasn't clear to me from --help.

So I'd say this bug is narrowed down to just non-URL changelog path when using appcast_generator

[2020-07-13 16:35] Deadpikle commented on #116
@jfro,

Thanks so much for doing some digging and figuring things out. I really appreciate that.

So, sounds like there are 2 action items here:

1. `--help` needs to be updated to show more info about the URL thingy (and/or more examples -- we used to have these but they were removed with the rewrite).
2. Non-URL changelog items are not being loaded properly in `ReleaseNotesGrabber`.

[2020-07-14 04:17] psionika commented on #112
No.
This string "тестовая строка" is only for test.
Problem username is "Оператор".

[2020-07-16 17:09] qwetboy10 commented on #114
ShowsUIOnMainThread = true fixed the issue for me. Thanks for the help. Here is a full stack trace though in case you wanted to know what was causing the issue.
[code]

[2020-07-16 17:48] qwetboy10 commented on #114
Actually, I ran into this issue another time. Turns out that it started crashing again once I fixed my appcast. Its a little weird.

- ShowsUIOnMainThread = false, Bad Appcast -> Crash
- ShowsUIOnMainThread = false, Bad Appcast -> Crash- ShowsUIOnMainThread = false, Bad Appcast -> Crash

[2020-07-16 22:57] Deadpikle commented on #114
Yeah, that stacktrace is helpful. I can fix that problem. Any other stack traces that are different (e.g. `ShowsUIOnMainThread = true, GoodAppcast -> Crash`) would be helpful. Thank you for the trace.

[2020-07-17 05:09] Rand-Random opened #117 "URL app-cast in readme"
https://github.com/NetSparkleUpdater/NetSparkle#app-cast <- correct
https://github.com/NetSparkleUpdater/NetSparkle#appcast <- wrong

[2020-07-19 08:34] kirsan31 opened #118 "[Question] Are revert supported?"
Hi. Can't find info - are revert to previous (more then previous) version supported?

[2020-07-19 12:20] Deadpikle commented on #118
Hi @kirsan31!

The answer is both yes and no. No, because that is not the _default_ behavior. Yes, because if you use installers for each of your versions, you can use your app cast to see which previous versions are available and download those versions.

[2020-07-19 12:28] Deadpikle commented on #118
Hi @kirsan31!

Sorry about the close and reopen -- I got some water on my trackpad and accidentally closed it when I cleaned it off. 😅

The answer is both yes and no. No, because that is not the default behavior. Yes, because if you use installers for each of your versions, you can use your app cast to see which previous versions are available and download those versions. If your installers are st

[2020-07-25 15:37] anti-matter opened #119 "Unhandled exception if DSA signature is invalid"
When a file is downloaded and if the DSA signature check fails, NetSparkle causes an unhandled exception.

The offending code is on line 1015 in SparkleUpdater.cs

`DownloadHadError?.Invoke(_itemBeingDownloaded, _downloadTempFileName, new NetSparkleException(e.Error.Message));`

I believe the correction should be to use the errorMessage that is generated instead of expecting one (that doesn't exis

[2020-07-26 15:54] #119 closed

[2020-07-26 15:54] #117 closed

[2020-07-26 15:54] Deadpikle commented on #116
OK, the issue was much bigger than just non-URL changelog items not loading. There's actually some sort of race condition on creating the window and loading something in the PWF `WebBrowser` -- if you tell the WPF WebBrowser to navigate to the release notes string too quickly, it freaks out and doesn't load anything. If you tell it to navigate to `about:blank` first, then navigate to the release n

[2020-07-26 15:54] Deadpikle commented on #119
This is fixed in 2.0.0-preview20200726001. Thanks so much for doing the digging for me and showing exactly what needed to be fied!

[2020-07-26 15:56] Deadpikle commented on #114
Can you please post or figure our a way to create a reproducible sample for your error? I'm not able to replicate, still, and the stack trace you posted above didn't lead me to the error cause. If you've got `ShowsUIOnMainThread = true`, then the callback is called on whatever thread initially called `CheckForUpdatesAtUserRequest`. Are you running that method on a background/non-STA thread? (https

[2020-07-26 21:06] anti-matter commented on #119
Thanks for the quick turn-around!

[2020-08-05 16:55] brutalzinn commented on #118
Hello. Thank you very much for this library. I am trying to implement this in my application .. and I am very confused on some points.

I'm trying to follow the guidelines answered
 question in this:
https://github.com/NetSparkleUpdater/NetSparkle/issues/118#issue-660694626

but I’m stuck on creating the custom form. I need to list all the versions available for download .. but the
await mySparkle

[2020-08-05 16:56] brutalzinn opened #120 "Help with release lists"
Hello. Thank you very much for this library. I am trying to implement this in my application .. and I am very confused on some points.

I'm trying to follow the guidelines answered
 question in this:
https://github.com/NetSparkleUpdater/NetSparkle/issues/118#issue-660694626

but I’m stuck on creating the custom form. I need to list all the versions available for download .. but the
await mySparkle

[2020-08-07 01:24] brutalzinn opened #121 "I made a package generator with gui"
https://github.com/brutalzinn/NetSparkle-Generator-Package

thanks for the library.

[2020-08-07 07:57] caunt opened #122 "Avalonia 0.10 incompatibility"
Method not found: 'Void Avalonia.Controls.Image.set_Source(Avalonia.Media.Imaging.IBitmap)'.
   at NetSparkleUpdater.UI.Avalonia.CheckingForUpdatesWindow..ctor(IBitmap iconBitmap)
   at NetSparkleUpdater.UI.Avalonia.UIFactory.ShowCheckingForUpdates()
   at NetSparkleUpdater.SparkleUpdater.<CheckForUpdatesAtUserRequest>d__136.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.T

[2020-08-07 11:44] Deadpikle commented on #122
Hi @caunt!

Thanks for the report. Right now, since Avalonia 0.10 is just in preview, the "official" NetSparkle compatibility will stick with 0.9 for the time being. However, you should be able to supply your own `UIFactory` and/or GUI items as needed to fix this error without needing an official build.

I'm _quite_ busy this weekend (and in general right now), so until I can take a look at it and

[2020-08-07 21:47] caunt commented on #122
Hi. Thank you very much for the prompt reply.

I am already working on way that you mentioned 🙂

[2020-08-07 21:47] #122 closed

[2020-08-08 15:06] aelmendorf commented on #115
I downloaded source then just added below 3 lines to project xml
`<PackAsTool>true</PackAsTool>`
`<ToolCommandName>appcast</ToolCommandName>`
` <PackageOutputPath>./nupkg</PackageOutputPath>`

then it was a simple as `dotnet tool install --global --add-source ./nupkg generate_appcast`

Im not sure  if this would let you install without unpacking nuget from web before trying to install or not.  I t

[2020-08-13 15:54] Marc022 opened #123 "Buttons out of view in build-in UI"
I am trying to make an updater with the build-in UI WinForms/NetCore but some buttons are not showing properly on the window. I know that this issue has already been asked before but there was no answer so I was wondering if someone found what the problem is. By pulling the sample project, I get the same thing.
<img width="417" alt="Capture" src="https://user-images.githubusercontent.com/47008610/

[2020-08-23 21:24] Deadpikle commented on #121
Hi @brutalzinn! Apologies for the slow reply. Thank you for making a package generator GUI; however, it appears that your repo is down or otherwise closed, so I will be closing this issue. Thanks for your participation in the NetSparkleUpdater repo!

[2020-08-23 21:24] #121 closed

[2020-08-23 22:17] Deadpikle commented on #123
Hi @Marc022!

First, apologies for not only a slow reply but also the lack of a reply in the first place to at least acknowledge the issue. I'm so busy right now, and I'm not a WinForms expert, so this is difficult for me. I'm learning slowly, though, and I am hoping this is fixed in `2.0.0-preview20200823001`! Please test it out. If the issue persists, please re-open this bug and give me more inf

[2020-08-23 22:22] Deadpikle commented on #120
Hi @brutalzinn!

I'm so sorry I haven't replied. Things are just slipping past me right now, and I apologize. Thank you for reporting the issue. I hope to take a look at it before the end of my day today (23 August), but if not, I hope within a few days I can take a look.

This is happening because of this line here:

https://github.com/NetSparkleUpdater/NetSparkle/blob/d7c86cc1898661c72405fb5a35d

[2020-08-23 22:24] Deadpikle commented on #116
Because the initial bug was fixed, and there's a ref in #89 about updating docs, I'm going to go ahead and close this issue. Thank you again for your report and for figuring out what was going on!

[2020-08-23 22:24] #116 closed

[2020-08-23 22:26] Deadpikle commented on #114
@qwetboy10 Have you been able to try the latest version? Is this issue still happening?

[2020-08-24 02:01] #120 closed

[2020-08-24 02:03] Deadpikle commented on #120
@brutalzinn This should now be working in `2.0.0-preview20200823002`, which is rolling out via CI now.

`var _updateInfo = await _sparkle.CheckForUpdatesQuietly();` should now return some updates if some are available. You can always compare the versions in the list of updates with the config's `LastVersionSkipped` to see if one was skipped manually.

My apologies again for this taking so long for

[2020-08-25 21:31] anti-matter opened #124 "DSAChecker.VerifySignatureOfFile() needs to catch errors"
In production we are seeing a lot of crash reports here. 100% of the time the unhandled exception is caused by the downloaded installer file be held open for some reason. So, when called in `SparkleUpdater.InitAndBeginDownload()` the exception causes a crash of the app.

The fix, I believe is to wrap the file calls in a try/catch block and return `ValidationResult.Invalid` if the file cannot be op

[2020-09-06 16:12] #124 closed

[2020-09-06 16:14] Deadpikle commented on #124
@anti-matter Hi! Thanks for the bug report. Instead of fixing this in the signature verifiers, I did this try/catch in `SparkleUpdater` instead so that all `ISignatureVerifier` types would have their errors caught. The exception is logged via `LogWriter`.

You don't happen to know if the root cause is some antivirus software running or something, do you? O_o

In any case, thanks for the report, an

[2020-09-06 16:25] Deadpikle commented on #124
Better yet, use `2.0.0-preview20200906002` and then you'll have an event called `DownloadedFileThrewWhileCheckingSignature` that will be called if the signature verifier throws while verifying a signature after download. :)

....it's not a perfect solution, but I'm trying not to have any more seriously breaking changes between now and 2.0.

[2020-09-06 16:53] Deadpikle commented on #100
Here's the .zip of the SVG (public domain) for the current icon. If anyone knows someone who knows how to use Inkscape or mess with vectors...😅 otherwise I'll tackle it...someday...probably after docs are updated...

[software-update-available.zip](https://github.com/NetSparkleUpdater/NetSparkle/files/5179984/software-update-available.zip)

[2020-09-24 01:25] nk915 opened #125 "[Question] When will the new release version be released?"
Hi. Can't find info -
When will the new release version be released?

[2020-09-24 12:05] Deadpikle commented on #125
Hi @nk915,

The answer is "when it's ready." :) Generally speaking, #61 has the details on what is left. The preview versions are fairly stable at this point, but they lack some documentation still. I also need to get a new icon out.

I'm very busy right now, this project is entirely done in my free time, and I receive no money for this, so it's done when it is done. Contributions are welcome!

[2020-10-08 01:00] anti-matter opened #126 "New app version is not considered"
Can someone please tell why the new version with a much higher version number is not seen as a new one?

`2020/10/07 17:51:34.189|DEBUG|Application updater: Found an item in the app cast: version 1.2.2030.0 () -- os = windows
2020/10/07 17:51:34.189|DEBUG|Application updater: While parsing app cast item, converted 'Wed, 07 Oct 2020 18:14:53 GMT' to 10/7/2020 11:14:53 AM.
2020/10/07 17:51:34.189|DE

[2020-10-08 01:03] Deadpikle commented on #126
Hi @anti-matter,

Please post your app cast here (anonymized as necessary) so I can take a look. Thanks!

(Did you click "Skip this Version" previously?)

[2020-10-08 03:31] anti-matter commented on #126
No, I did not say skip any version.

`<rss xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
<channel>
<title>REDACTED</title>
<link>/v0.1/public/sparkle/apps/REDACTED</link>
<item>
<title>Version (1.2.2030.0)</title>
<description><div style='font-size: 110%; font-family: Helvetica, Arial, sans-serif;'><p>Initial desktop

[2020-10-08 12:03] Deadpikle commented on #126
Thanks. I'll have to take a look. I'll try to do so soon.

[2020-10-08 19:32] anti-matter commented on #126
Ugh. Never mind. Error on our part. The dsa signature setting, which was working, suddenly stopped. Just need to figure out why its not being set in our build process. Sorry.

[2020-10-08 19:32] #126 closed

[2020-10-08 23:03] Deadpikle commented on #126
Ah, glad you figured it out!

All the same, I went ahead and added some additional debug `LogWriter` statements to help people debug these things in the future: see commit dfcccd288cb25c1159cad0c7be83f287f931d3c1 and preview version `2.0.0-preview20201008001`. The log now states why it is rejecting an app cast item as being a valid update. Hopefully that will help catch such issues sooner.

Thanks

[2020-10-11 19:44] Deadpikle commented on #118
Closing this as the FAQ in the main README will contain the information from here.

[2020-10-11 19:44] #118 closed

[2020-11-08 19:23] Deadpikle commented on #89
Wooo, doc updates are basically done!

[2020-11-08 19:23] #89 closed

[2020-11-08 20:47] Deadpikle opened #127 "Improve documentation website"
I wanted to get up a basic docs website so that people could browse properties and such on the various NetSparkleUpdater classes. I used [Natural Docs](https://www.naturaldocs.org/) (quick Google result 😅) to generate some OK docs, and they are up now on the [website here](https://netsparkleupdater.github.io/NetSparkle/doc/index.html). I like that it makes a single page docs app sort of thing. How

[2020-11-08 20:50] Deadpikle commented on #114
@qwetboy10 Any updates? It's been almost 4 months since your last reply.

[2020-11-08 21:26] qwetboy10 commented on #114
Sorry for not responding. I no longer work at the company where the bug happened, so I no longer have access to the code. Sorry I couldn't be more helpful.

[2020-11-08 21:27] Deadpikle commented on #114
No problem. I'll go ahead and close this as hopefully it's fixed. If you ever run into it again or hear from the company that they are running into the bug, feel free to comment and/or re-open. Thanks for responding! :)

[2020-11-08 21:27] #114 closed

[2020-11-11 22:16] Deadpikle opened #145 "Include .NET Core 3.1 and .NET 5 in target frameworks"

[2020-11-21 09:33] KevinBassaDevelopment opened #146 "Bug: Windows MSI, RelaunchAfterUpdate wants to start dll instead of exe"
When using RelaunchAfterUpdate = true with an MSI installer, the dll gets called instead of the exe.

As a workaround this can be fixed by overwriting SparkleUpdater.cs:
[code]

[2020-11-22 01:02] Deadpikle commented on #146
Hi @KevinBassaDevelopment,

Thanks for your report!

Does this happen with WinForms or WPF? On .NET Core or .NET Framework? (Or does that matter?)

Thanks!

[2020-11-22 01:08] Deadpikle commented on #146
For context, here's the lines we're talking about:

https://github.com/NetSparkleUpdater/NetSparkle/blob/40e9454fdc59b217313eca1a66f58661f81039e9/src/NetSparkle/SparkleUpdater.cs#L1212-L1263

Boy, though, there's a lot of solutions to this problem, and I'm not sure which to use right now or sure if there's a universal solution: https://stackoverflow.com/questions/616584/how-do-i-get-the-name-of-th

[2020-11-22 07:58] KevinBassaDevelopment commented on #146
I use wpf dotnetcore!

[2020-11-22 08:04] KevinBassaDevelopment commented on #146
I think it would be great to let the user pass in the name of the executable + the app name.

Currently both are generated from within the updater, but as a user I might use different solutions which differ from 1 universal solution.

[2020-12-03 12:27] Deadpikle opened #147 "Investigate Avalonia Markdown rendering lib swap"
See if https://github.com/whistyun/Markdown.Avalonia will do any better at rendering Markdown/HTML than the current library. Maybe the Avalonia version will only support Markdown and not HTML. Deserves some research.

[2021-01-11 16:58] Deadpikle commented on #145
This is done. UI libs reference `net5;netcoreapp3.1;net452` (or just `net5-windows` in the case of WPF), and the core lib references `netstandard2.0;net452`, which covers .NET Core 3.1 and .NET 5.

[2021-01-11 16:58] #145 closed

[2021-01-11 17:00] #146 closed

[2021-01-11 17:01] Deadpikle commented on #146
@KevinBassaDevelopment Sorry for the long wait here.

`2.0.0-preview20210111001` now includes two new options to make this easier to configure:

* `RestartExecutablePath` to set the working directory
* `RestartExecutableName` to set the name of the executable (aka override the `Environment.CommandLine` call)

Hope that helps! :)

[2021-01-11 17:07] KevinBassaDevelopment commented on #146
Very nice, will try it tomorrow, thanks :)!

[2021-01-11 17:22] Deadpikle commented on #147
For 2.X, I'm going to leave this as-is and not move to a native markdown control so as to match other platforms, which use HTML. Users can always supply their own UI to display release notes using a different library than the built-in one.

[2021-01-11 17:22] #147 closed

[2021-01-14 17:46] Deadpikle commented on #100
![software-update-available](https://user-images.githubusercontent.com/5092399/104628511-52c18800-5666-11eb-981b-2cc0181df8d2.png)

If at first you don't have a graphic designer, do it yourself. 😅 Sharp/pound symbol SVG from https://www.svgrepo.com/svg/42960/hashtag, which is a CC0 license.

Maybe someday someone with actual graphic design skills will come along and help us out. Until then, here g

[2021-01-14 17:46] #100 closed

[2021-01-14 17:59] Mostlypyjamas commented on #100
I really like that - exactly encapsulates the point of the package i think

[2021-01-14 20:09] Deadpikle commented on #93
Calling this "done" for 2.0, but am open to further suggestions for 2.1+.

[2021-01-15 13:01] hypervtechnics commented on #93
Hi, sorry had no time yet. I am trying to build a full stack prototype for the whole software update path using Avalonia for multiple platforms (Linux and Windows for now), Will look into it.

[2021-01-17 14:34] Deadpikle commented on #93
Oh, that's fine. I'm just wanting to wrap things up for a 2.0 release right now. There's no rush or pressure on you to do anything more (although contributions are always welcome). :)

[2021-01-30 21:21] idan-h opened #158 "Question about usage"
Hi, I'm sorry if my question is dumb, but I did not understand some things:

How do I sign the inno setup file?

Anonther question is, I want to run my setup with args. Can I do that somehow?

Thank you very much for all the effort!

[2021-01-30 23:56] Deadpikle commented on #158
Hi @idan-h! Don't worry about it -- often if one person asks a question, more people than just that one person have the same question!

If you're using Inno Setup for your installer, you can find some documentation on signing the installer [here in Inno Setup's docs](https://jrsoftware.org/ishelp/index.php?topic=setup_signtool). You'll also need a code signing certificate. Both NetSparkleUpdater a

[2021-01-31 12:20] idan-h commented on #158
Thanks for the quick response

[2021-01-31 12:20] #158 closed

[2021-01-31 15:43] idan-h opened #159 "Might be a bug when calling CheckForUpdatesQuietly()"
On File SparkleUpdater.cs Line 1564:
if (UpdateDetected != null)
{
    UpdateDetected(this, ev);
    // if the client wants the default UI then show them
    switch (ev.NextAction)
    {
        case NextUpdateAction.ShowStandardUserInterface:
            LogWriter.PrintMessage("Showing standard update UI");
            OnWorkerProgressChanged(_taskWorker, new ProgressChangedEventArgs(1, updates))

[2021-01-31 15:52] Deadpikle commented on #159
Hi again. This is working as intended. `CheckForUpdatesQuietly` is supposed to check for events _quietly_ -- in other words, nothing will be shown unless it is handled by the program that called `CheckForUpdatesQuietly` in the first place. `CheckForUpdatesQuietly` just checks to see if there _is_ an update -- no more, no less. Please see the `HandleEventsYourself` sample (`_updateInfo = await _spa

[2021-01-31 15:54] Deadpikle commented on #159
I will review the docs here, though, as upon further review, the documentation here is a little confusing, as it says a UI should be shown.

Thanks.

[2021-01-31 16:04] idan-h commented on #159
It is alright, glad it helped with something

[2021-01-31 20:21] idan-h commented on #146
You can solve it by using this instead: System.Diagnostics.Process.GetCurrentProcess().MainModule.FileName

I checked it on .net core 3 and it works well

[2021-02-01 00:31] #159 closed

[2021-02-23 15:20] johncclayton commented on #115
first time center, but I've been lurking a while.

what would it require to have the generator tool made available as a NuGet package as part of the normal release?

I'm adding something like tests, a release process of some kind and then something like github actions to bring this together.

I'm willing to help agent this available (I've just put NetSparkle into an app i ported from mac), and hav

[2021-02-23 19:33] Deadpikle commented on #115
@johncclayton Thanks for your question. Does https://www.nuget.org/packages/NetSparkleUpdater.Tools/ help? It should have the app cast generator in it.

[2021-02-23 21:05] johncclayton commented on #115
Absolutely - I checked the code out to work out what I was doing wrong on the command line.  I've got a lot of experience in IT (over 20 years), but am really new to the whole .net / CLI part - so while the tools worked, I didn't know how to get the generator .exe tool installed reliably at a path location I could use for the build.

But if it's just something like: dotnet install that I have to d

[2021-02-25 17:30] johncclayton commented on #115
I tried the changes as outlined by @aelmendorf - that worked really great - thank you.  It probably wants to be called something different than appcast, likely generate_appcast.exe right?  I can create a PR from my own forked version of the repo if that'd help.

[2021-02-25 17:39] Deadpikle commented on #115
Hi, sorry, not wanting to ignore you. Just very busy.

I have two pending questions/things to research in my mind about this that need to be figured out:

1. How do I properly publish this to NuGet? I probably have to have 1 tool per 1 NuGet package, I'd assume, rather than the current setup of all tools in 1 package?
2. Is everything setup properly for the tool to list things on all 3 platforms s

[2021-02-25 23:48] johncclayton commented on #115
I get busy, no problem at all.  I am more than happy to start looking for answers to these questions - as part of my learning journey into .net.

I believe at a minimum, having the generate-app-cast tool in a separate NuGet package makes a TON of sense.  I like the cross platform aspect of that a LOT, and I have the gear here to test it on all 3 platforms if that helps.   I don't have an M1 thing,

[2021-02-26 00:53] johncclayton commented on #115
Ok, tomorrow I'll read the following properly:

    1. https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-create
    2. https://docs.microsoft.com/en-us/dotnet/core/tools/local-tools-how-to-use

I think I'll play around with using a manifest file and see if I can get it to a stage where I'm able to change my build process to simply do:

    $ dotnet tool run netsparkle-generate

[2021-03-02 19:21] johncclayton commented on #115
Hi

I spend a couple of hours learning / experimenting with the nuget tool & packaging.  I learned the ropes by creating a simple tool project, and published this locally.  I then proceeded to install it from my NAS on Mac, Windows and Linux systems.

The installation works like a charm in both global and local.  The tool .exe/command can be called whatever you like (and dotnet tool upgrade takes

[2021-03-05 11:50] Byolock opened #165 "I don't get any log output from LogWriter"
Im trying to enable the debug output from NetSparkle however I don't get any output to the Visual Studio Console:

My Application is a .Net 5.0 WPF UI Application.
This is my Code :

[code]

If I hit this button I get the popup with my custom changelog and the download, skip  and so on buttons.
If I hit "download / install" button the downloading window appears but never makes any progress.
Nevert

[2021-03-07 15:34] Deadpikle commented on #165
Hi @Byolock, I'm sorry for the slow reply.

I'm not sure why you are not seeing any log output. When using the WPF sample (adjusted to run on .NET 5), I tried the following code:

[code]

I was able to view the console output. It also worked with `new LogWriter(false)`.

![print-diagnostic](https://user-images.githubusercontent.com/5092399/110245075-ce85d580-7f2f-11eb-89e4-5ed63459a22b.gif)

Are y

[2021-03-07 17:55] Deadpikle commented on #115
@johncclayton Thank you SO MUCH for your contributions, here. That's very helpful to confirm that the csproj changes are really all that is needed!

I have done the following:
* Merged your PR with those changes
* Published two NEW packages: `NetSparkleUpdater.Tools.AppCastGenerator` and `NetSparkleUpdater.Tools.DSAHelper`. Two new packages keeps things separate (versions, etc.) and also makes it

[2021-03-07 17:55] #115 closed

[2021-03-07 18:10] Deadpikle opened #166 "2.0 final breaking changes: Final call (until 3.x)"
Things are ready to go for 2.0. All I have to do is deprecate the old things (see #61) and create the newer, final `NetSparkleUpdater.Core` feed.

**This is the last call for any breaking changes before 2.0's release.** Any renames, API changes, etc. need to happen ASAP before 2.0 happens. Please list any suggestions here in this thread.

If I hear nothing within a bit of time (week minimum, max 4

[2021-03-08 23:12] Deadpikle opened #167 "App cast generator: Add option to re-parse existing app cast and add (only?) new items rather than recreate entire app cast"
This would allow you to use CI/CD more easily by retaining your full history without having to get the signatures again for old binaries.

Probably would need to add a new flag to the app cast generator to this that defaulted to `false`.

[2021-03-08 23:14] Deadpikle opened #168 "Add documentation on technically only needing latest version in app cast"
Technically, only the latest item is needed. Docs on this would help clarify to end users that CI/CD might be easier than they think since they don't "need" the full history.

[2021-03-09 14:08] Byolock commented on #165
I am still analyzing this problem.

My current intermediate state is as follows: I have test set up a .Net Framework 4.8 project on another pc with the exact same code and get extensive debug output. So far so good.

This meant it must be either my settings in the IDE, other settings on the PC or differences between .Net Framework 4.8 and .Net 5.

The next step was then to repeat everything exactl

[2021-03-10 07:40] Byolock commented on #165
I forgot something : after the second step I had to change the Framework to .Net 5 as It defaults to .Net Core 3.

[2021-03-10 20:20] Kyberal opened #169 "UpdateAvailableResult.None not working?"
Using UIFactory for WinForms.
I want to know when the user closes the "Update Available" window.
I have subscribed to the "UserRespondedToUpdate" event.
The "UpdateAvailableResult.None" event result doesn't works.

[code]

Is this a bug or am I doing it wrong?
Or is there even a way to detect when a "SparkleUpdater" has all it's windows closed?

Thanks!

[2021-03-10 21:13] Deadpikle commented on #169
@Kyberal Hi! Welcome!

Thanks for reporting this. I believe you've found a bug. 😅 The `.None` case is not being handled when the user update window is closed.

https://github.com/NetSparkleUpdater/NetSparkle/blob/d9e2297c0a6eff12b0a30d0aecc6b699f6ac2267/src/NetSparkle/SparkleUpdater.cs#L1662-L1688

[2021-03-11 15:53] Kyberal opened #170 "WinForms CultureInfo"
Hi again!
I'm having an issue with Cultures and WinForms.
I have created a WinForms application with "Default" and "es-MX" culture.
Launching with "es-MX" culture by setting it inside Main.
NetSparkle doesn't shows up with the desired culture and as far as I can see in the resources it has been translated to "es-MX".

[code]

![image](https://user-images.githubusercontent.com/55935685/110814979-bb

[2021-03-11 21:49] johncclayton commented on #168
done as part of the PR here https://github.com/NetSparkleUpdater/NetSparkle/pull/171

[2021-03-11 21:56] johncclayton commented on #167
Yep.  This begins to treat the appcast.xml as a current "source of truth"; I like that - and it would massively reduce the amount of data that needs to be pulled during delivery when re-building the appcast because there would be no need to re-calculate the signatures.

In terms of making it possible to generate the latest version from a GitHub Action I very much like this.  It does conflict with

[2021-03-14 18:10] Deadpikle commented on #170
Hi @Kyberal,

Thanks for the bug report.

Localization support is not yet functional for v2.0 -- see #92. There is some limited localization support working that was carried over from the very old days, but I haven't done anything to get it working again for 2.0 with the WPF and Avalonia UIs, much less update it for the new 2.0 strings.

As you can see from this screenshot, there's still some left

[2021-03-14 18:38] Deadpikle commented on #165
@Byolock I can replicate your issue, using the steps you provided. Thank you!

I think the issue is a bit complex:

1. When debugging your own application, the VS window shows `Debug.WriteLine`, not `Console.WriteLine`, so `new LogWriter(true)` won't work as that uses `Console.WriteLine`
2. When using NuGet, you're getting a release build, so the `Debug.WriteLine` calls from `NetSparkleUpdater.Log

[2021-03-14 18:38] Deadpikle commented on #169
Had to fix this in multiple UI packages and in the core library. The WinForms UI frontend was working already.

* [x] Core
* [x] WPF
* [x] Avalonia

The bug fix has been pushed out in the following NuGet package: `2.0.0-preview20210314001`

[2021-03-14 18:38] #169 closed

[2021-03-14 18:41] Deadpikle commented on #122
As a side note for future seekers: NetSparkleUpdater 2.0 with the Avalonia UI is now compatible with Avalonia 0.10.

[2021-03-14 18:54] Deadpikle opened #172 "Include symbol files in NuGet packages"
Need to add appropriate properties to the csproj files: https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg#creating-a-symbol-package

[code]

Then I think we can re-enable this on the CI/CD as including symbols there broke things before. Needs a little experimentation.

[2021-03-14 18:57] Deadpikle opened #173 "App cast generator null reference"
Got this in my email:

[2021-03-14 19:01] Deadpikle opened #174 "App cast generator: Update examples to align with new .NET CLI Tool name"
`generate_appcast.exe` -> `netsparkle-generate-appcast` or whatnot.

[2021-03-15 01:07] Deadpikle commented on #165
Reopening because `Trace.WriteLine` didn't fix it somehow. Needs more investigation.

[2021-03-15 01:11] Deadpikle commented on #165
![Screenshot 2021-03-14 211104](https://user-images.githubusercontent.com/5092399/111091589-d0403200-8509-11eb-96db-c81d267d4df9.png)

Bother. I didn't check to make sure it was enabled.

[2021-03-15 01:17] #165 closed

[2021-03-15 02:06] Deadpikle commented on #165
OK, I'm getting console output in VS with `LogWriter = new LogWriter(false)` now. Fixed.

[2021-03-15 12:01] Deadpikle commented on #173
More info:

Need to test this out and error out instead of obscure exceptions.

[2021-03-18 06:56] devlabpro opened #175 "cyrillic support in bat file"
Hello
bat file that is generated to run the installer does not start the installer if the path to the installer file contains Cyrillic characters. I managed to fix this by adding `chcp 65001> nul` to the bat file. I would like to see this fix as part of the nuget package.

[2021-03-18 06:57] devlabpro commented on #175
if necessary, I can create a PR from the fork

[2021-03-18 12:02] Deadpikle commented on #175
Please open a PR! That will help me get to it sooner. Thank you! :)

Would this also fix #112? Any idea?

[2021-03-18 12:33] devlabpro commented on #175
create PR https://github.com/NetSparkleUpdater/NetSparkle/pull/176

yes, should help to fix it

[2021-03-18 22:21] Deadpikle commented on #175
I merged in your PR. Thank you very much for your PR! I greatly appreciate it.

[2021-03-18 22:21] #175 closed

[2021-03-18 22:22] Deadpikle commented on #112
Fixed by #176.

[2021-03-18 22:22] #112 closed

[2021-03-21 16:16] WaseemAlkurdi commented on #173
I can confirm that this happened with me as well - it just throws a null object reference exception. For reference, I'm running on Windows, using the last version of the prebuilt (and now deprecated) commandline tools (since I'm unable to download a more modern Visual Studio release to compile this from source due to bandwidth constraints).

[2021-03-21 16:23] WaseemAlkurdi commented on #173
Confirming this also happens on Linux as well.

[2021-03-21 16:24] WaseemAlkurdi commented on #173
Also confirming that adding a base URL works, and that I need to work on my reading comprehension :-D

[2021-03-21 18:15] WaseemAlkurdi commented on #123
Hello!

I've had this issue with the latest version of NetSparkle as of today ...
I'm developing a C# program inside a VirtualBox VM, and so far, everything has been working fine, until I maximized the virtual machine's window, which causes the screen resolution to dynamically change to the size of the host's screen. I resized it back to its original size ... and now for some reason the updater di

[2021-03-21 23:38] Deadpikle commented on #123
@WaseemAlkurdi

Thanks for the report. Which UI? Is this WinForms .NET Core or .NET Framework? Or WPF?

If someone can make a reproducible sample for this DPI issue, I would love to have it. I can't repro this issue, which makes it very hard to fix. That table row on the form has a height of `AutoSize`, so.......😵

RE: The whitespace -- does your app cast program name or version # have a bunch of

[2021-03-21 23:39] #173 closed

[2021-03-21 23:39] #174 closed

[2021-03-21 23:43] Deadpikle commented on #173
@WaseemAlkurdi  Thanks for the confirmation! This bug is fixed, and it's rolling out via CI/CD now.

Can you use `dotnet tool install --global NetSparkleUpdater.Tools.AppCastGenerator --version 2.0.1` to install the latest version? (In a few minutes when the CI/CD finishes and NuGet processes stuff.) You shouldn't have to build from source.

Otherwise, here's a zip of the latest build for you sinc

[2021-03-22 10:28] WaseemAlkurdi commented on #173
@Deadpikle Appreciated! :)

I can't use the `dotnet` command since I'm intentionally keeping the VM offline to avoid using up my limited data cap on Windows updates (and therefore, connecting it without updates would expose my host and guest to malware).

I've tried this package, and unfortunately, I got this error:
[code]

Trying to copy `hostfxr.dll` from the extracted NuGet package of the final

[2021-03-22 10:41] Deadpikle commented on #173
Yeah, the thing I uploaded is definitely not self contained, so those errors are essentially expected.

If you can't install the .NET 5.x runtime on the VM, let me know and I'll get around to uploading a self-contained version for you sometime soon.

[2021-03-22 10:44] WaseemAlkurdi commented on #123
@Deadpikle

This is the .NET Framework UI version (`2.0.0-preview20210314001`), and I'm running Visual Studio 2013 and .NET Framework 4.5.2 on Windows 7. Both the system language and locale are English (US), so it's definitely not a localization issue.

I did nothing special apart from merely importing and using NetSparkle, except maybe that I'm using a custom icon (can't get it to disregard the "

[2021-03-22 10:54] Deadpikle commented on #123
Thanks for the additional info. Definitely not the icon. Should be able to avoid the icon param though:

https://github.com/NetSparkleUpdater/NetSparkle/blob/a6bb8e8fb3f480062dd39c629dc6ebc11561fbdc/src/NetSparkle.UI.WinForms.NetFramework/UIFactory.cs#L20-L25

Whitespace: Bah, probably need to be trimming titles and stuff. (`itemTitle` in the following code is what is getting extra whitespace):

h

[2021-03-22 11:11] WaseemAlkurdi commented on #173
@Deadpikle

Installed .NET 5.0.4 Runtime, and it works just fine ... thanks for fixing this!

[2021-03-30 02:13] SeanAWalsh opened #182 "AppName vs AppTitle?"
There are places in the UI where the Application Name is used and, in my opinion, the Application Title would be better. So if my product has an application title called "TheGreatProduct.exe" and an ApplicationTitle of "The Great Product", I currently get told

"TheGreatProduct 1.3.49 is now available (you have 1.3.48). Would you like to download it now?" or when downloading, the progress window s

[2021-04-05 01:00] Deadpikle commented on #182
I think your overall code is fine, and the changes you've made don't break things, which is good; however, I'm not sure that I agree with the change.

According to [this SO post](https://stackoverflow.com/a/23145113/3938401), `AssemblyTitle` is the `File Description`, not the name of the product. This is also reflected when you right-click an EXE and look at the Properties tab:

![WPF](https://use

[2021-04-06 04:28] asine opened #183 "can you add support zip on windows"
can you add support zip on windows?

[2021-04-07 01:24] Deadpikle commented on #183
Hi @asine,

It's not in my plans right now, no. That would need to come from a community contribution. There's a lot of variables with zip files (format of file, lack of native .bat support that works back to Windows 7, etc.), and I am not going to consider adding support for those myself any time soon.

You are more than welcome to add it for your own needs by using your own `SparkleUpdater` subc

[2021-04-07 13:37] SeanAWalsh commented on #182
After I posted the issue, I did what you did and looked at the usage of these things and, you're right, it's all over the shop. And every single example fails to address my problem because they all use YourAssemblyTitle and YourApplication (i.e. Camel Case no spaces) thus not addressing the problem. Checking excel.exe I get
![image](https://user-images.githubusercontent.com/12700766/113875268-79e3

[2021-04-07 21:54] #182 closed

[2021-04-07 22:35] SeanAWalsh opened #187 "WorkingDir incorrect in NetSparkleUpdater.RunDownloadedInstaller"
I had a look at Issue #183 to see if I might volunteer to help. In doing this I realised why my upgrades never restart the application after the upgrade. It's because I never set "RelaunchAfterUpdate = true" for my SparkleUpdater object. It defaults to false, so even though the caption in the button in UpdateAvailableWindow says "Install and Relaunch" my app never relaunched. Always meant to inves

[2021-04-07 23:57] Deadpikle commented on #187
👋🏻  Thanks for the reports!

This probably needs to be more obvious in the readme somewhere, and yes, if it's not set to true, the button should say 'Install' and not 'Install and Relaunch'. That'd be a bug.

Yeah this would be a bug and needs to be fixed; good catch.

Mmm....I agree with this, but probably need to add some docs that say "if your installer doesn't launch within 90 seconds, the app

[2021-04-08 09:32] SeanAWalsh commented on #187
I spent a few hours going through the various options in the SO article.  I tested without the new Uri wrapper and found small vestiges of the file:/// left behind (i.e. Path.GetDirectoryName(....Codebase)).

Codebase definitely returns file:///C:/Program Files.../NetSparkle.dll

In the end, the line I came up with worked for me (Winforms / .NetFramework.

The only thing I didn't check was whether

[2021-04-08 10:46] SeanAWalsh commented on #187
By the way, my moving of the relaunch lines after the :afterinstall label was purely aesthetic. NetSparkle has always relaunched after an unsuccessful install. So the moving of these lines does not change behaviour in any way as control flow will just ignore the label (as it always has anyway).

We'd need a NoRelaunchAfterUnsuccessfulUpgrade or NoRelaunchAfterUnsuccessfulInstall property on the Sp

[2021-04-08 17:25] SeanAWalsh opened #188 "IIS Web Server will not serve up a file with an extension of .signature!"
Took me a while, this one.

I've had NetSparkle working in UnSafe mode but never got my head around the whole public/private key thing - at least I thought I hadn't! So I never got

	_sparkle = new SparkleUpdater("http://.../appcast.xml", new Ed25519Checker(SecurityMode.Strict, "Public Key")

working.

So, today, dusted off my Visual Studio, tapped into your lovely LogWriter and lo and behold, on

[2021-04-12 15:40] WaseemAlkurdi commented on #188
I ran into this before - you'll have to whitelist the `.signature` extension in IIS.
You might want to refer to this Microsoft article: https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/requestfiltering/fileextensions/

[2021-04-12 23:29] SeanAWalsh commented on #188
Thanks for this. I realised I could do this but presumably others can't and would need to contact a web hosting company and prevail upon them to do it. That's why I suggested a method whereby we give the NetSparkle user the ability to sidestep the issue.

[2021-04-14 01:40] Deadpikle commented on #188
Yeah, this would better be handled on IIS itself, but given that some users won't be able to do that, we should make this more configurable for them.

[2021-04-15 01:21] #188 closed

[2021-04-15 01:24] Deadpikle commented on #188
This is now done; however, I did make one change to your suggestions:

Rather than giving `SparkleUpdater` the signature extension, I added that to `XMLAppCast`. I think it made more sense there. I'm debating adding it to the interface buuuuuut don't think it's necessary.

[code]

or

[code]

[2021-04-15 01:33] Deadpikle commented on #187
Have made the following changes:

1. Made sure `workingDir` was quoted properly.
2. Wrote to files async
3. Fixed the bat file not exiting after 90 seconds to match it up with Linux/macOS behavior if the main process doesn't end. The process that needs to end not leaving is now properly considered an error.
4. Fixed macOS/Linux not using the variable executable path/name to actually align with doc

[2021-04-17 17:15] mojo-man commented on #173
Thanks so much for fixing! Finally getting round to integrating things today.

[2021-04-18 23:35] #166 closed

[2021-04-19 01:38] Deadpikle commented on #123
@WaseemAlkurdi

The trimming issues with whitespace have been resolved in the most recent version of the AppCastGenerator tool (2.0.3+).

[2021-04-19 01:40] Deadpikle commented on #187
This is now done.

`IUIFactory` now takes a `SparkleUpdater` for all methods so that it can know how things are set up. Sorry for this breaking change, but happier to do it now than wait for a 3.0!!! Button titles have been fixed in the 4 built-in UIs.

This is now fixed and working on all 4 UIs. `RestartExecutablePath` is now actually a path and `RestartExecutableName` is now actually a file name

[2021-04-19 01:40] #187 closed

[2021-04-19 01:52] Deadpikle commented on #172
This just doesn't work with the current GitHub Action due to this bug: https://github.com/brandedoutcast/publish-nuget/issues/58

We may need to pack and push things ourselves (including checks to not republish things), as that library author is no longer active it seems. 😦

[2021-04-19 02:02] Deadpikle commented on #168
Merged in README changes on 2021-04-18.

[2021-04-19 02:02] #168 closed

[2021-04-19 02:13] Deadpikle opened #189 "The 2.0 launch is imminent."
Speak now or forever hold your peace on breaking changes. I think (I HOPE) I'm done with breaking changes.

All I want to do now is roll out an official 2.0 version, update change logs and the releases page, etc. I have no more code changes planned unless someone sends one in on a PR or there is a bug to fix that I can reliably replicate.

Hopefully 2.0 will be out within a week.

[2021-04-19 11:47] SeanAWalsh commented on #187
Many thanks!

[2021-04-19 12:05] SeanAWalsh commented on #188
Nice Job.

Thanks again.

I had to say:

    using NetSparkleUpdater.AppCastHandlers;
    ...
    AppCastHandler = new XMLAppCast() { SignatureFileExtension = "txt"}

or

    AppCastHandler = new NetSparkleUpdater.AppCastHandlers.XMLAppCast() { SignatureFileExtension = "txt"}

The line as written wouldn't compile for me.
But all good. And really nice work as always.

[2021-04-19 12:06] SeanAWalsh commented on #188
Agree with your thoughts regarding the placement of the property. Spot on, as usual.

[2021-04-19 12:34] SeanAWalsh commented on #189
Minor: README.MD
"#### DAS vs Ed25519 Signatures"  should read "#### DSA vs Ed25519 Signatures"

[2021-04-20 23:56] Deadpikle commented on #125
@nk915,

The answer is TODAY, 20 April, 2021! 🥳 🥳 🥳 🥳 🥳 🥳

[2021-04-20 23:56] #125 closed

[2021-04-20 23:56] Deadpikle commented on #189
Thanks for that -- fixed that typo.

2.0 is now out! 🥳

[2021-04-20 23:56] #189 closed

[2021-04-20 23:58] Deadpikle commented on #61
2.0 is now finally, finally, finally, finally, finally released. Ooof, that took a while.

🥳

[2021-04-20 23:58] #61 closed

[2021-04-20 23:59] SeanAWalsh commented on #189
Excellent! Well done.

[2021-04-21 14:17] SeanAWalsh commented on #123
Do you still have the invisible button problem?

[2021-04-21 22:28] Deadpikle opened #191 "Our method for executing the shell script on Unix is probably not going to work everywhere"
https://github.com/NetSparkleUpdater/NetSparkle/blob/5b0a74b06ce1cc446f2ea32aaf9fc9f2643e85b3/src/NetSparkle/SparkleUpdater.cs#L1437-L1460

`/bin/bash` being hard coded is probably a terrible idea for some systems. Need to find a better way to execute the shell script or find the bash location or something.

[2021-04-21 22:30] Deadpikle commented on #123
I haven't been able to replicate it. I'm waiting on @WaseemAlkurdi  to reply to see if they can still replicate it.

[2021-04-29 01:05] Deadpikle opened #195 "App cast generator: HttpUtility.UrlEncode seems to change ' ' to '+' rather than '%20'"
This causes problems when uploading files. Need to look into this.

[2021-04-29 01:10] Deadpikle opened #196 "App cast generator: paths to release notes not generated properly"
`netsparkle-generate-appcast -e dmg -f true -o macos -u https://netsparkleupdater.github.io/NetSparkle/files/sample-app-macos -l https://netsparkleupdater.github.io/NetSparkle/files/sample-app-macos -p . -n "Sample NetSparkleUpdater macOS"`

results in a changelog path of:

`https://netsparkleupdater.github.io/NetSparkle/files/sample-app-macos2.0.0.md`

which is clearly not right.

[2021-04-29 01:11] Deadpikle commented on #196
`item.ReleaseNotesLink = (opts.ChangeLogUrl + changelogFileName).Trim();` should use `Path.Combine` probably

[2021-04-29 02:34] Deadpikle commented on #196
Fixed in c3b8879

[2021-04-29 02:34] #196 closed, assigned to nobody

[2021-05-04 15:11] SeanAWalsh opened #201 "Recent changes to -e option for AppCastGenerator mean it is now mandatory (documentation still says defaults to exe)"
How does one pass an IEnumerable option in on the command line anyway?

[2021-05-04 15:28] SeanAWalsh commented on #201
4>NetSparkleUpdaterAppCastGenerator 2.0.8
4>Copyright c ndreisg 2019, Deadpikle 2020-2021
4>
4>ERROR(S):
4>  Error setting value to option 'e, ext': Check if Option or Value attribute
4>  values are set properly for the given type.

when "-e exe" is not supplied

I suspect what is needed is set option back to string type and split:

    [Option('e', "ext", SetName = "local", Required = false, Help

[2021-05-04 21:58] Deadpikle commented on #201
Yes, this'll need to be fixed ASAP since this seems to break the app cast generator. I will try to get to this ASAP, but I'm really busy today (and probably for the next few days).

Thank you for reporting.

[2021-05-05 14:09] SeanAWalsh commented on #191
From memory, the unix shell you're using ("/bin/bash", "/bin/sh") by convention is defined in the environment variable "SHELL". Just checked my SmoothWall firewall and there it was (SHELL=/bin/bash). Not sure if it's a hard and fast rule but I don't think I've never seen a Unix system where it wasn't!

So maybe NetSparkle could check for the environment variable SHELL. If there, use it, otherwise

[2021-05-09 22:29] #201 closed, assigned to nobody

[2021-05-09 22:42] #191 closed, assigned to nobody

[2021-05-09 22:54] Deadpikle commented on #191
Thanks for your great suggestion and for your knowledge. I've implemented things as you've suggested. Thank you!

[2021-05-20 17:42] SeanAWalsh opened #212 "WinForms and NetCore DownloadProgressWindow Labels Overlap Icon"
1. The "Downloading APP" and "0 MB / 10 MB" labels are too far to the left and partially obscure the icon
2. For me the Window is not wide enough to display my product name and version number (I widened to 466 pixels)
3. The imgAppIcon SizeMode is set to AutoSize. This obliges one to guess its size and try to make an icon just big enough to fit.
This property (and, in my opinion the same for all i

[2021-05-20 17:46] SeanAWalsh opened #213 "Image and Icon SizeModes are AutoSize - Should Be Zoom"
I believe that

    NetSparkle.UI.WinForms.NetCore\CheckingForUpdatesWindow.Designer.cs
    NetSparkle.UI.WinForms.NetCore\MessageNotificationWindow.Designer.cs
    NetSparkle.UI.WinForms.NetFramework\CheckingForUpdatesWindow.Designer.cs
    NetSparkle.UI.WinForms.NetFramework\MessageNotificationWindow.Designer.cs

    NetSparkle.UI.WinForms.NetCore\DownloadProgressWindow.resx
    NetSparkle.UI.Wi

[2021-05-23 18:09] Deadpikle commented on #213
Fixed in 2b169dc542cfae0c34fab6091ee4db26f561fa3f and ddb336f227bc02c3837da70a062113c6b341315d

[2021-05-23 18:09] #213 closed, assigned to nobody

[2021-05-23 18:10] Deadpikle commented on #213
Thanks for your notes on that!

[2021-05-23 18:11] Deadpikle commented on #212
I have reworked the UIs for the download progress windows in WinForms (both for .NET Core and .NET Framework) to use a `TableLayoutPanel`, which should help alleviate the issues that you are seeing as well as fix text wrapping for the labels. The icon zooming is fixed per the other issue.

[2021-05-23 18:11] #212 closed, assigned to nobody

[2021-05-23 18:13] Deadpikle commented on #123
Could it be that the `TableLayoutPanel` needs to use `Dock.Fill` rather than anchoring to `Top, Bottom, Left, Right`?? 🤔

[2021-05-24 14:34] SeanAWalsh commented on #123
I'll try out the new version with my dodgy user and report back

[2021-06-04 12:26] Deadpikle opened #214 "Explore bsdiff or similar methods for creating and applying delta updates via our own installer method"
* bsdiff: https://github.com/mendsley/bsdiff
* bsdiff for c#: https://github.com/LogosBible/bsdiff.net

I think creating the delta files wouldn't be too hard, maybe, if we can just basically diff old version with new version and zip up the output or something. Doing the actual patch could take some work, though, as it might mean shipping a new binary with end products (or downloading a 2nd one?) t

[2021-07-04 14:52] brads55 opened #220 "Windows 11 support"
Hi,

When using NetSparkle with the WinForms .NetCore UI on the windows 11 preview, an available update causes the following crash:

[code]

(The same code works fine on windows 10).

I believe this is possibly because the removal of internet explorer in windows 11 is causing the WebBrowser control to break in an unpredictable manner. It would be great to move this control over to something more m

[2021-07-04 20:58] Deadpikle commented on #220
👋🏻  Does it happen if you add `[STAThread]`  to your `Main`? (If it's not already there by default.)

I'm not opposed to get something working with `WebView2`, but the normal `WebBrowser` control *should* still work: https://github.com/MicrosoftEdge/WebView2Feedback/issues/440#issuecomment-861643864. `WebView2` sounds nice, but backwards compatibility could be an issue, especially because "WebView

[2021-07-04 22:24] brads55 commented on #220
I do already have `[STAThread]` on Main and as far as I can tell the control is being created on the main thread.

That comment is interesting, it's entirely possible that I've actually hit a bug in windows 11 here rather than an unsupported control. I'll dig into this a bit deeper when I get time and post more info here when I have it.

[2021-07-05 10:57] brads55 commented on #220
Turns out this was a mistake on my part, I'd actually hit https://github.com/dotnet/roslyn/issues/22112, what I thought worked on windows 10, actually didn't... Sorry for the noise!

[2021-07-05 10:57] #220 closed, assigned to nobody

[2021-07-06 11:28] brads55 opened #221 "CheckForUpdatesAtUserRequest doesn't close checking for updates dialog (InvalidOperationException)"
Hi,

When calling the CheckForUpdatesAtUserRequest function using the .NET Core winforms UI, the checking for updates dialog does not get closed. I believe there is an issue in the following code from `SparkleUpdater.cs` regarding task scheduling.

[code]

Given the above is an asynchronous task, the SynchronizationContext used is the default threadpool, rather than the UI context. This means that

[2021-07-06 17:27] Deadpikle commented on #221
Should be easy enough to fix by moving the `Close()` call inside the UI  thread portion, I think.

Thanks for the report.

[2021-07-06 20:19] brads55 commented on #221
Is that sufficient? If `ShowsUIOnMainThread` is set to true then the call to `CallFuncConsideringUIThreads` won't actually dispatch to the UI thread.

[2021-07-07 01:58] Deadpikle commented on #221
Yes, you're right, I'm wrong, sorry.

[2021-07-07 02:26] Deadpikle commented on #221
Could you post a stacktrace to make sure we're seeing the same error, please?

I found a separate error that I managed to (maybe) fix where the `CheckingForUpdatesWindow` didn't close properly, but it's not in the function you mentioned, although I do see the potential for issues with what you mentioned -- not sure what to do with it quite yet.

Threading issues are never fun. There's got to be a

[2021-07-07 10:03] brads55 commented on #221
The trace I get is the following:

[code]

It's worth noting that the particular machine I run this on causes different results (perhaps unsurprisingly given threading is involved), I can reproduce this reliably on a lower core count machine, whereas I've never yet hit it on a higher core count machine.

[2021-07-07 10:09] brads55 commented on #221
I notice now that the above stack trace isn't very helpful since it doesn't go back far enough, instead here is the call stack when that exception arose (on a worker thread).

[code]

[2021-07-07 12:08] Morasiu opened #222 "Missing screenshot examples of Avalonia UI"
It would be nice to see how the default NetSparkle UI for Avalonia looks like. I couldn't find any of it

[2021-07-07 22:14] Deadpikle commented on #222
Here's a GIF. I don't want to commit to screenshots here since it's really simple to clone the repo and run the samples and keeping those screenshots for all operating systems and themes up to date is, well, annoying. :)

Very plain UI, in other words. Uses the default light theme. Looks just like WPF's UI. The changelog for Avalonia needs UI work, but it functions ok.

Keep in mind that you can e

[2021-07-07 22:14] #222 closed, assigned to nobody

[2021-07-07 23:13] Deadpikle commented on #221
Your stack traces were very helpful, thank you.

I think I fixed this in 18915cd. The `CheckingForUpdatesWindow` close operation wasn't doing the check for `InvokeRequired`. Can you please try the latest preview version? (`2.0.7-preview001` for the WinForms .NET Core UI -- should be on NuGet as soon as CI/CD finishes)

[2021-07-08 10:42] brads55 commented on #221
This appears to have fixed it, thanks! :)

[2021-07-11 18:06] Deadpikle commented on #221
The fix is now rolling out as a non-preview version. Thanks again for reporting this and helping me figure it out!

[2021-07-11 18:06] #221 closed, assigned to nobody

[2021-07-20 02:38] maxkatz6 opened #223 "Bug, on macOS "syntax error near unexpected token `fi'" while running bash script"
Full error message
[code]

It seems to be related to C# files usually stored with windows-styles line endings "\r\n", while multi line strings are saved with the same line endings as the file in which they are defined, see [stackoverflow (specs)](https://stackoverflow.com/questions/48196840/c-sharp-verbatim-string-line-breaks-crlf-cr-or-lf#comment83374951_48196962). And bash scripts are line-endin

[2021-08-03 13:00] OCJvanDijk commented on #114
I was running into the exact same errors using NetSparkle with WPF.
Turns out the problem was I was creating `SparkleUpdater` before calling `App.Run()`.
`SparkleUpdater`'s constructor will store `SynchronizationContext.Current`, however at that point it won't be properly initialized to WPF's `SynchronizationContext`.

Maybe this could help someone in the future.

[2021-08-08 19:17] Deadpikle commented on #223
Hi @maxkatz6, sorry for the wait. I couldn't replicate this only on macOS. Are you building on Windows and then deploying on macOS? I could see how that would cause this issue or maybe having different git settings.

Anyway, can you try the Avalonia build `2.0.7-preview20210808001` or the core `2.0.9-preview20210808001` if you're using the core lib? Thanks, and thanks for researching the data a bi

[2021-08-08 20:05] maxkatz6 commented on #223
No, building on macOS CI and editing on macOS Rider. But source code file is saved with "\r\n", since most of my team are working on windows with Visual Studio.

Can't check your solution right now, but it's basically the same what I did in my project and it worked (by overriding this method). The only difference that I also added this replace to Exec method for escapedArgs. Not sure if it was req

[2021-09-06 08:00] evgeny-bykov commented on #195
Hi,
We could replace `HttpUtility.UrlEncode` with `Uri.EscapeDataString` and it would fix the issue.
What do you think?

[2021-09-09 01:00] Deadpikle commented on #195
Based on a quick online search, that'd probably work.

I'm swamped right now. Will get to testing it out when I can. Thank you for your input; I appreciate it greatly! :)

[2021-09-12 16:00] #195 closed, assigned to nobody

[2021-09-12 16:09] Deadpikle commented on #223
Fixed in latest versions of the core lib and Avalonia UI. Thanks again for reporting!!

[2021-09-12 16:09] #223 closed, assigned to nobody

[2021-09-21 23:07] pagner opened #229 "Question: Does this library have the ability to NOT execute the executable?"
Please correct me if I'm wrong but netsparkle seems like it is expecting an "installer" file to be downloaded and executed.

Is it possible to just download all the update files and restart the main program?

I would like to have a manifest (appcast) that may only contain a few new libraries, maybe some assets and of course the .exe, or dll (linux, mac)

.NET only requires a restart to consume the

[2021-10-01 01:38] Deadpikle commented on #229
Hi @pagner, thanks for your question!

Technically, this behavior isn't officially available. However, depending on your needs, you should be able to make it work by:

1. Download a .zip file of your updates
2. Override `SparkleUpdater.RunDownloadedInstaller(string downloadFilePath)` (https://github.com/NetSparkleUpdater/NetSparkle/blob/develop/src/NetSparkle/SparkleUpdater.cs#L1290) with your own

[2021-10-01 01:42] Deadpikle commented on #229
In other words:

* On macOS, you can just use zip/.tar.gz support to avoid using an installer
* On Linux, same story as macOS
* On Windows, because we don't have Windows batch zip/.tar.gz support pre-Windows 10 17063 (see #219), right now, Windows requires an installer or other executable of some type. If we were able to add .zip/.tar.gz support to all supported versions of Windows, we might be ab

[2021-10-01 01:48] Deadpikle commented on #183
Links that may or may not be useful that we could pull into NetSparkle for zip support on Windows:

* https://stackoverflow.com/questions/21704041/creating-batch-script-to-unzip-a-file-without-additional-zip-tools
* https://serverfault.com/questions/39071/does-windows-have-a-built-in-zip-command-for-the-command-line
* https://stackoverflow.com/questions/28043589/how-can-i-compress-zip-and-uncompre

[2021-10-01 02:59] pagner commented on #229
Hi @Deadpikle,
Thanks for the response. I ended up writing my own just as you described. I am on .net 5 (avalonia app)

What I did was create an avalonia app as my "Updater". In my main program I check a json file hosted on my server. If the version is newer I launch the updater from my main program and then exit the main program.

The updater UI is a small window with a progress bar and text. It

[2021-10-01 08:14] SeanAWalsh opened #230 "Release Notes Not Displaying"
I've noticed this for some time. In WinForms, when I release version 1.4.12, if the user is on 1.4.10, say, it will show the release notes for 1.4.11 (even if the user skipped this version) but, although it shows the 1.4.12 highlighted as the top option, it does not display its release notes. In short it seems to always display one set of release notes and for the "nearest" version as opposed to t

[2021-10-01 22:51] #230 closed, assigned to nobody

[2021-10-01 22:51] SeanAWalsh commented on #230
Please ignore this. Caused by a bit of stupidity on my part.

[2021-10-03 12:35] Deadpikle commented on #229
You're welcome! I'll go ahead and close this since it is resolved. :)

[2021-10-03 12:35] #229 closed, assigned to nobody

[2021-10-21 21:38] nitz commented on #172
Looks like there's some recent discussion there about it. But oddly enough, this is something I ran into with that action a while back and ended up forking it and fixing it myself. You're welcome to use mine: https://github.com/nitz/publish-nuget/commit/13cf3a0ec3840b62a0fd20d559ab1e2a63b0d75a

(Though if I ever get around to it, I want to re-write that whole action from scratch. It's got so many

[2021-10-24 17:52] Deadpikle commented on #172
Thanks to @nitz's fork, this is now working as of 0a7be630a458bcbe209335d726fb7eb6b6070c08. Thanks!

[2021-11-14 15:33] Deadpikle opened #250 "Test/fix Linux permissions for installing"
https://github.com/NetSparkleUpdater/NetSparkle/blob/957d131b3e3f724ad3d020da46d239248ba95dc0/src/NetSparkle/SparkleUpdater.cs#L1257

How does `sudo` work here? Do we even _need_ `sudo`? Does Linux pop open a thing asking for the password? (I doubt it.) Do we need to pop open a terminal and run things in there (aka make the process not silent so that they can be prompted for their password)? I'm n

[2021-11-14 15:36] Deadpikle opened #251 "Create Linux code sample that is runnable from Linux"
For easier testing, etc. Should maybe use dpkg or something for fuller testing.

[2021-11-14 15:36] Deadpikle opened #252 "Add .NET 6 targets"
.NET 6 is out, so we need to test compatibility and add a .NET 6 target!

(This requires me to update to VS 2022, which might take time...)

[2021-11-21 16:38] Deadpikle opened #253 "Investigate better ways to run the updater script as `sudo` on macOS if needed"
Running things as sudo is just a mess if you don't have a terminal 😅 We can use `osascript` to run a shell script with admin privileges, but it's kind of clunky, as the `sudo` prompt says `osascript` rather than your bundle or app name, which might be suspicious to users. See the macOS Avalonia sample for this here: https://github.com/NetSparkleUpdater/NetSparkle/tree/develop/src/NetSparkle.Sample

[2021-11-29 05:54] daniel-pastalab opened #255 "Add a RelaunchAfterUpdate command prefix"
When set `RelaunchAfterUpdate=true` a line with the application is added to to the update `.sh` file to run after update.
On linux (MANJARO, ZSH) a command or command prefix is needed to run the executable like:

`dotnet app.dll`
 or if packed into an linux app:
`./app`

So the idea is to be able to set a `RelaunchAfterUpdatePrefix` that will be added before the `RelaunchAfterUpdate` like `dotnet

[2021-11-29 16:39] daniel-pastalab commented on #250
There is a way to install linux packages without root by installing it with --force-not-root (https://askubuntu.com/questions/339/how-can-i-install-a-package-without-root-access).
But there may be a lot of problems with dependencies (https://stackoverflow.com/questions/18858412/errors-installing-a-deb-without-sudo-root).
Unfortunately a lot of distributions are not automatically popping up a graph

[2021-12-05 14:57] idan-h opened #256 "Question about the signatures"
Hi!
I glanced upon the signature code, and I have seen that the public key of the downloaded file comes from the request to the server - if I understood correctly.
Doesn't that mean that a potential attacker can change the public key aswell as the downloaded file and hence pass the check?

Thank you!

[2021-12-05 15:25] Deadpikle commented on #256
Hi @idan-h,

Thanks for your question.

The private key is what is important, here, and it's held by you or your development team. Without this key, a potential hacker will not be able to generate the appropriate signature(s) on the download server and thus get around the signature checks. The public key is only used to verify the signatures generated via the private key.

I think if an attacker h

[2021-12-05 15:43] idan-h commented on #256
Thank you for your explanation, it helped indeed.
I meant that the hacker would exploit a Man In The Middle attack of some kind.

So just for my clarification, the public key needs to be shipped with the binary that does the update, and the signature made from the private key is shipped with the appcast. Then, the signature is verified by the public key. Is that correct?

What are the advantages o

[2021-12-05 15:59] Deadpikle commented on #256
Ah...I see. Yeah, without your private key to generate the appropriate signatures and without replacing your public key, I'm not sure how they could get this working.

Yes! :)

Well...I don't know a lot about WinVerifyTrust. NetSparkleUpdater's method is cross platform; anything from win32 would not be for obvious reasons. NeteSparkleUpdater doesn't rely on any certificate chain, so no, you don't

[2021-12-05 16:11] idan-h commented on #256
I actually think that the sparkle way is more versatile and easy, as you don't have to acquire a code signing certificate in order to use it (plus as you said, it is cross platform).
Thanks again for your informative answers, I found great value in them.

[2021-12-05 16:11] #256 closed, assigned to nobody

[2021-12-28 17:32] mylastsong18 opened #267 "AppCast troubles"
Hello. I am trying to add update functionality to my application and have ran into a wall. I've tried everything i can think of and i am still having the same issue.

Upon checking for downloads or launching the app i get this error in Visual Studio output

netsparkle: Appcast is not valid
netsparkle: No version information in app cast found

I generated the AppCast with the tool as per the readme

[2021-12-28 23:38] Deadpikle commented on #267
Hi @mylastsong18,

Thanks for your report/message.

My gut reaction is that you haven't uploaded the .signature file or there's something wrong with your app cast validation (wrong public/private key) -- there should be more logs than what you posted that would help point to the problem. "Appcast is not valid" is shown when, well, the app cast couldn't be downloaded or parsed. The error about vers

[2021-12-29 01:01] Deadpikle commented on #255
Hi @daniel-pastalab,

Thank you for your suggestion and your thorough comments on what would be needed

You can already change `RestartExecutableName` to do this, and it's as easy as `updater.RestartExecutableName = "dotnet " + updater.RestartExecutableName;` to do this in your own code. I'm not sure I want to add this parameter as proposed, but I'll leave this issue open for now. Thanks.

[2022-01-02 09:12] mylastsong18 commented on #267
It appears to be an SSL issue which is strange cause i have another program that downloads a json file from the same server and i am able to download the appcast in a browser. I will have to play around with it and see if i can get it working. Most likely something on my end and has nothing to do with NetSparkle

I did try the unsafe method but it didn't make a difference, i don't think the appcas

[2022-01-02 09:12] #267 closed, assigned to nobody

[2022-01-02 09:48] mylastsong18 commented on #267
It was indeed an SSL issue, changing TrustEverySSLConnection to true worked and got rid of the error so when i release the program it won't be an issue since it'll be a public server. Thank you!

[2022-01-06 13:58] xaevik commented on #252
Just to let you know, you will run into the following issue of being told that [WebRequest, WebClient, and ServicePoint classes are deprecated](https://docs.microsoft.com/en-us/dotnet/core/compatibility/networking/6.0/webrequest-deprecated).

We ran into this ourselves just last week upgrading a few applications that rely on NetSparkle from .NET 5 to .NET 6 as we have a custom implementation of `I

[2022-01-06 15:50] emazv72 opened #268 "signature verification can cause the application to run out of memory if the file is too large"
The signature verification of a large file (  a 500Mb executable ) throws an exception on a sample application:

[code]

The file should be read and processed in chunks, not the whole file:

[code]

[2022-01-06 23:57] Deadpikle commented on #268
Hi @emazv72,

Thanks for your report.

I.....don't know if it is cryptographically possible to verify a file in chunks. I think you need the whole file to get/verify a signature. I'd recommend seeing if you can expand the memory capacity of your application, split up your downloads into multiple downloads, have your installer download the extra files, or something.

The ever-faithful Sparkle libra

[2022-01-07 00:46] Deadpikle commented on #268
@emazv72 I have pushed a preview version (`*-preview20220106001`) with file chunking available for Ed25519 signature reading. When SparkleUpdater read in the file, it used FileSize bytes, then when it passed those bytes to the signature verifier, the bytes are copied, which used 2x the RAM needed. This feature makes it use only 1x the amount (plus the chunk size, defaulting at 25 MB). Please try i

[2022-01-07 18:57] emazv72 commented on #268
Hi @Deadpikle,

Thank you for your quick answer and patch. I've quickly tested it and it seems to work fine in my no UI - custom updater scenario.

I've made a few fixes in my reference implementation and the out of memory is gone now, maybe I'll be able to shrink the update package in the future.

Thank you again for your help!

[2022-01-09 01:34] Deadpikle commented on #268
Great to hear! Thanks for getting back to me so quickly. 🎉

I'll keep this issue open until the changes are in a non-preview version.

[2022-01-09 08:25] emazv72 commented on #268
Thank you for letting me find a bug myself, the OOM made me detect a non
related memory leak to fix. When we used to deal with a few Mb memory size
devices we were all more careful with resources, a long time ago... :)

Il Dom 9 Gen 2022, 02:34 Deadpikle ***@***.***> ha scritto:

[2022-01-11 16:00] Deadpikle opened #269 "Add support in app cast generator for passing in private key via parameter"
[macOS Sparkle](https://github.com/sparkle-project/Sparkle) has a `-s` option. From macOS Sparkle:

[code]

We should have a similar option in our app cast generator. We have `--key-path`, but that's file based.

[2022-01-19 03:37] Deadpikle commented on #167
Testable version in #270. Haven't tested it yet -- wrote the code and ran out of time. Needs testing. Still need to make sure conflicting options are not used. `--binaries` just sets the dir so that is fine, but I need to look at other options.

[2022-01-19 06:43] johncclayton commented on #167
Awesome - I’ll give it a shot today if I get a chance :-)

[2022-01-19 15:16] johncclayton commented on #167
There is a small problem - the code that runs the Parse() should first load the document from disk.  The 1 liner patch would be:

                     Console.WriteLine("Parsing existing app cast at {0}...", appcastFileName);
-                    XDocument doc = XDocument.Parse(appcastFileName);
+                    var contents = File.ReadAllText(appcastFileName);
+                    XDocument d

[2022-01-19 17:51] Deadpikle commented on #167
Hahaha, this is what happens when one doesn't have time to test! Good catch.

You can fork, patch the line, then PR against #270 itself rather than the `develop` branch. If you don't get to it before I do, I can always add you as a co-author on the commit.

Thank you for testing and for responding back!

[2022-01-21 00:45] Deadpikle opened #274 "Run unit tests in CI/CD"
See title. Need to run unit tests in GitHub Actions before doing the deployment.

[2022-01-21 12:48] mohitsaxenaknoldus commented on #274
I can do it. Can you please tell me the steps to test this project?

[2022-01-23 22:48] Deadpikle opened #275 "Enhance NetSparkleUpdater app cast compatibility with Sparkle app casts"
The original [Sparkle library for macOS](https://github.com/sparkle-project/Sparkle) has released a 2.0 version, not to be confused with NetSparkleUpdater's 2.0 version. (Hooray for the original lib -- this was a HUGE undertaking by them!)

There have been some changes to the way they structure their app cast. Lines with arrows are NOT emitted by our app cast generator.

[code]

To increase our co

[2022-01-23 23:41] Deadpikle commented on #274
Fixed in #270.

Thank you for your offer, but it was easier for me to just go ahead and do than to explain in this case, sorry. I realize my initial post was not very thorough. All I was looking for was that the test projects (`src/NetSparkle.Tests`, `src/NetSparkle.Tests.AppCastGenerator`) would run their unit tests before the NuGet deployment ran. Unit test projects are pretty standard in C# lan

[2022-01-25 02:25] #167 closed

[2022-01-25 02:26] Deadpikle commented on #274
Deployed live now that #270 is merged

[2022-01-25 02:26] #274 closed, assigned to nobody

[2022-01-25 02:27] Deadpikle commented on #269
Live in app cast generator 2.0.12 (rolling out to NuGet now)

[2022-01-25 02:27] #269 closed, assigned to nobody

[2022-01-25 02:28] Deadpikle commented on #269
CLI options are:

* `--public-key-override`
* `--private-key-override`

[2022-01-25 02:29] Deadpikle commented on #268
Live in NetSparkleUpdater 2.0.9, which is rolling out to NuGet now! @emazv72, I want to thank you again for your help and your very quick replies. That was a big help! (And glad we could help you fix another memory leak!)

[2022-01-25 02:29] #268 closed, assigned to nobody

[2022-01-28 05:33] GebTandon opened #283 "App Cast Generator Tool version 2.0.12 is broken"
The version 2.0.12 seems to be broken. The command runs fine under 2.0.11 .
Its is not able to generate appcast.xml file, fails with below error:

[code]
Here is sample command that was run

[code]

[2022-01-28 13:38] Deadpikle commented on #283
Hi @GebTandon,

We'll look into it. Might be your product file name. Can you please let us know what the file name of your app is? An anonymized "My App Name.msix" would be fine. I think it's something to do with how the version of the app is pulled out of the file name (`-f`).

[2022-01-28 19:44] Deadpikle commented on #283
@GebTandon,

Can you try 2.0.13, please? I found and fixed an issue here. If you are still running into issues, please let us know the file name of the app. If the app cast generating doesn't error out, please do a sanity check on the app cast output to make sure it works as it should. The `-f` functionality to get the version out of the file name was redone in 2.0.12.

Thanks!

[2022-02-07 02:09] zorgiepoo commented on #275
The first two (`<sparkle:version>` and `<sparkle:shortVersionString>`) elements Sparkle has actually supported for over a decade (winsparkle supports them too) because of having informational updates (i.e updates without a download that have a "Learn more" button pointing to developer's website in user's web bowser, in case updating process gets hosed or some developers prefer to use this for paid

[2022-02-07 02:42] Deadpikle commented on #283
@GebTandon, have you been able to try out 2.0.13?

[2022-02-09 15:09] FRvanderVeen commented on #283
I've been testing the 2.0.13 and it looks like there is a change between how -f works in 2.0.11 and 2.0.13

Given the following path:
output/1.0/file.ext

2.0.11 is able to extract version 1.0 as version
2.0.13 is not able to extract the version

Looking at the code in the comments it says that it expects the version number to be at the end of the filename, but somewhere in the path was working. I

[2022-02-09 15:16] Deadpikle commented on #283
Hi @FRvanderVeen,

Hmmm...`output/1.0/file.ext` working was definitely not intentional. The docs for that command said, "Determine the version from the file name" (aka not the path), so the fact that such a thing worked was, well, unintentional. Definitely never tested that case myself. Sorry about that technically breaking change, but since it was not intended to work in the first place.... 😬

ht

[2022-02-09 15:21] Deadpikle opened #285 "Support binary versions in folder path"
@FRvanderVeen has requested the ability to have the version # in the file path, rather than just the file name, such as the following:

This worked in the app cast generator versions 2.0.11 and former, but that was unintended behavior, as the `-f` param was only supposed to get versions from the file name, not the file path.

We should add an additional parameter that allows for getting the versio

[2022-02-22 01:12] Deadpikle commented on #285
@FRvanderVeen Closed in 8a6f74735cdd6de27960fa14f4205501224f1af0

[2022-02-22 01:33] Deadpikle commented on #285
Re-opening because unit tests did not pass on all operating systems. Will close again when that's working.

[2022-02-22 01:33] Deadpikle commented on #283
@GebTandon I'm going to assume things are working since I haven't heard back and I believe this is fixed. Please feel free to re-open if necessary. Thank you again for reporting! :)

@FRvanderVeen I re-added that functionality in the app cast generator v2.0.14, which is not working fully yet and is thus not live. Tracked in #285. Please watch that thread for updates.

[2022-02-22 01:33] #283 closed, assigned to nobody

[2022-02-22 18:23] Deadpikle commented on #285
Fixed fixed and deployed in live app cast generator v2.0.14

[2022-02-22 18:23] #285 closed, assigned to nobody

[2022-02-27 23:05] Deadpikle commented on #255
@daniel-pastalab, Thanks for the suggestion. After looking at something myself, I realize that this was indeed a needed enhancement, so I have gone ahead and implemented it as you've suggested -- except without putting `RelaunchAfterUpdateCommandPrefix` inside quotes. `./` could in theory be set with the original `RestartExecutableName`, so the command prefix lets you do things outside of the quot

[2022-02-27 23:25] Deadpikle opened #294 "Version rollback needs investigating and sample; app cast filtering needs sample"
From @johncclayton on Gitter:

Need to investigate whether or not rollback to an old version of the app(s) is working as intended. Initially, the intent was that a user could always do this by loading the app cast into app cast items and then just manually choosing the version to load, but if the configuration setup with the current version is not allowing you to see old versions or versions less

[2022-02-27 23:30] Deadpikle commented on #294
Applicable code:

https://github.com/NetSparkleUpdater/NetSparkle/blob/e2eacf9681ddd0c70e72bf6ee545b3cd3261e1f4/src/NetSparkle/Configurations/Configuration.cs#L26-L29

https://github.com/NetSparkleUpdater/NetSparkle/blob/e2eacf9681ddd0c70e72bf6ee545b3cd3261e1f4/src/NetSparkle/AppCastHandlers/XMLAppCast.cs#L172-L178

Might be just as easy as adding a public setter (don't want to break things by cha

[2022-03-03 07:23] johncclayton commented on #275
Info updates - I hadn't thought of that case, makes sense.

What is the use case for compatibility?

I can think of:

  1. A NetSparkle based updater generating appcast files for consumption by the Mac Sparkle library, and vice versa.
  2. Keeping feature/conceptual parity between the two.

For (1) above - I'd like to know how many people are doing that - I'm guessing zero based on the assumption

[2022-03-03 20:08] danielospina-b commented on #255
Hi @Deadpikle,

The implementation contains a space that I believe modifies the expected behaviour:
https://github.com/NetSparkleUpdater/NetSparkle/blob/e2eacf9681ddd0c70e72bf6ee545b3cd3261e1f4/src/NetSparkle/SparkleUpdater.cs#L1352

Final script line ends up like: `./ "MyApp"` this generates an error in bash: `bash: ./: Is a directory`. Where instead `./"MyApp"` would work.

[2022-03-04 00:14] Deadpikle commented on #255
@danielospina-b Thank you for bringing that to my attention. That would be a bug and a mishap on my part that is going to do not-very-happy-things to existing code. A fix will roll out within a few hours. Thank you again for bringing it to my attention.

[2022-03-04 01:27] Deadpikle commented on #255
Fix is rolling out now. Removed the space and trimmed the overall line just in case. Thanks again.

[2022-03-04 01:27] #255 closed, assigned to nobody

[2022-03-04 02:32] zorgiepoo commented on #275
For us top-level version elements are also a reduction when we have multiple enclosure items (due to delta updates, or I guess different sparkle:os's here).

Support for sparkle:os, and being able to use the same appcast on different Sparkle implementations, is actually not that sound as it's currently implemented. While Winsparkle picks the most-matching enclosure item for example, Mac Sparkle ju

[2022-03-16 12:48] FRvanderVeen opened #302 "Version number in UpdateAvailableWindow"
I've got a question about the version number that is shown in the 'UpdateAvailableWindow'

As far as I could trace it back the AssemblyVersion is used
https://github.com/NetSparkleUpdater/NetSparkle/blob/364e8285c22123192e1c84677ae6873ddb319a42/src/NetSparkle/AssemblyAccessors/AssemblyReflectionAccessor.cs#L132-L138

My assembly also got a FileVersionAttribute. Is it somehow possible to use that v

[2022-03-16 23:57] Deadpikle commented on #302
Hi @FRvanderVeen! Thanks for your question.

You are right that the `ReflectionAccessor` is used by default, so the version comes from the code that you've pointed out. See the init of the assembly accessor here: https://github.com/NetSparkleUpdater/NetSparkle/blob/5b522b9503438eb700d7cbd5b63637d32d7999e4/src/NetSparkle/SparkleUpdater.cs#L235-L256. The way it gets to the update available window ju

[2022-03-17 09:01] jimpaton-ufx opened #303 "Event handler leak in WebRequestAppCastDataDownloader.DownloadAndGetAppCastData"
The `ValidateRemoteCertificate` event handler that is attached to `ServicePointManager.ServerCertificateValidationCallback` is not unattached before the method returns.

[2022-03-20 19:58] Deadpikle commented on #303
Fixed in 6e978c154160bdd7ff62d60af212ed6e61cfd661 (still local to my machine as of this message, but will be pushed sometime today). Thank you for your report!! 😁

[2022-03-20 20:01] Deadpikle commented on #302
Closing unless there are further questions or bugs. Thanks again for the questions! :)

[2022-03-20 20:01] #302 closed, assigned to nobody

[2022-03-20 20:39] #303 closed, assigned to nobody

[2022-04-07 08:21] duncangroenewald opened #306 "Question: How to get version from setup.exe and app.msi ?"
Can I use net sparkle-generate-appcast to get the version from the msi file.  Currently it seems to be find a version in the setup.exe file.

I am using the Visual Studio Project Installer to build the setup.exe and app.msi files.

Thanks

[2022-04-07 10:19] duncangroenewald opened #307 "Error: Sorry either you aren't connected to the internet or our server is having problems"
Any idea why I am getting this error message and how can I debug this.  Turning on the logging option does not appear to write anything to the console when debugging.

[2022-04-07 11:55] Deadpikle commented on #306
Hi @duncangroenewald,

You can rename your files to include the version number. Then, use the `-f true` flag when you use `sparkle-generate-appcast` to have the app cast generator get version information from the file name. For example:

* `Setup 2.3.1.exe`
* `Setup 1.0.4.2.msi`

[2022-04-07 11:59] duncangroenewald commented on #306
Hmm, OK so it can't automatically get the version from the application assembly version.

In any event I seem to have a bigger issue with the updates complaining about having no internet connection or server is not available.  Neither of those are true so there seems to be some other issue.

[2022-04-07 12:00] Deadpikle commented on #307
Hi @duncangroenewald,

This error message generally means that your app cast online is invalid, you forgot to upload the `.signature` file for the appcast, or some other issue with your setup. Or, well, that your internet connection to the server didn't work. 😅

Turning on the logging option is the best way to go about it and should let you know what is happening. Use Visual Studio's Debug mode an

[2022-04-07 12:03] Deadpikle commented on #306
Right now, `FileVersionInfo.GetVersionInfo(filePath)` is used if you want to get the version information from the file. If the `setup.exe` or `setup.msi` file does not have this information in it already, then `FileVersionInfo.GetVersionInfo(filePath)` won't work.

There are probably other ways to get version information from binaries that this project doesn't do right now (contributions are welco

[2022-04-07 12:12] duncangroenewald commented on #306
Thanks, I will see if I can figure it out.  I tried turning on logging but don't see any output.

You'll have to forgive me I am not usually developing on Windows so the fragility of VS is daunting. One tiny change can bring the house of cards tumbling down and error messages are virtually useless.

Now even WinSparkle refuses to work anymore complaining of "improperly signed".  There are literall

[2022-04-07 12:15] duncangroenewald commented on #307
I have tried turning on debugging but nothing shows up in the console.

[2022-04-07 12:44] Deadpikle commented on #307
Please try using your own `ILogger` implementation and use a debugger/breakpoints to see what's going on if you continue to have problems with the built in logging/console within the IDE or other system you're using.

[2022-04-08 20:24] Deadpikle commented on #306
It's OK. Take your time. :) You should be able to run this lib on other OS's, although that may or may not be conducive to your overall app. If I/someone need to provide some more help to get you debugging, let me know.

[2022-04-11 02:25] duncangroenewald commented on #307
This is what shows up in the debugger

netsparkle: About to start downloading the app cast...
netsparkle: Downloading app cast data...
netsparkle: Downloading app cast signature data...
netsparkle: Signature check of appcast failed
netsparkle: Appcast is not valid
netsparkle: No version information in app cast found

[2022-04-11 02:27] duncangroenewald commented on #307
Here is a link https://duncangroenewald.com/files/Software/FocusBracketer/Windows/appcast.xml

[2022-04-11 02:30] duncangroenewald commented on #307
Is it possible something about the configuration on the computer used for signing could be getting confused about something when generating the appcast files ?  If so where to start looking ?

[2022-04-11 02:31] duncangroenewald commented on #307
Should I try starting over by generating new keys or is that going to make things worse ?

[2022-04-11 12:00] Deadpikle commented on #307
Here is your problem. To verify that this is the problem, you can try forcing the signature checks off by doing:

[code]

The `SecurityMode.Unsafe` will stop all signature checks. If things work without it, then you know something is going on with your signatures and signing of files.

Things to verify/try:

* Make sure you have uploaded the `.signature` file to your server, which contains the sig

[2022-04-11 19:59] duncangroenewald commented on #307
Yes I checked that the appcast.xml.signature is uploaded, you can check that by just clicking the link to the appcast.xml.signature and the browser will download it.

I also verified the files signatures and that all return valid although I never used the --signature base_64_signature switch so I will try that.

[2022-04-12 04:53] duncangroenewald commented on #307
Oh, sorry my bad I did use --signature XXXX. .  I read that as a switch --signature_base_64_signature but just realised that it has a space after signature.  So yep I did use that and it reported everything as verified

[2022-04-12 11:44] Deadpikle commented on #307
OK, so since things check out locally, you need to verify that you're setting up NetSparkle itself correctly.

Would you be willing to post your public key here? With that and your app cast URL from a few comments above, I can do some debugging on my end. Your public key is shipped with your software so it's safe to post. (**Don't post your private key**!!)

[2022-04-13 21:14] duncangroenewald commented on #307
Sure

EqiBicQndEUOxXkBPIyoGOqXrMAUyNd7wFTqKC4+e7g=

[2022-04-15 01:27] Deadpikle commented on #307
Can you please post your initialization code? I am not having any problems with your pub key and app cast URL using the sample project. You should be just fine.

Here is the code I am using:

[code]

[2022-04-15 09:55] duncangroenewald commented on #307
Hmm, I think I see the problem - I think I was working on the assumption that the default values will use the NetSparkle_Ed2551.pub file to get the public key.

I will pass the key in directly and test with that.

[code]

[2022-04-15 10:16] duncangroenewald commented on #307
And using DSAChecker instead of Ed25519Checker ! - duh!  How did I miss that.

[2022-04-15 10:24] duncangroenewald commented on #307
Sorted thanks.

[2022-04-15 10:24] #307 closed, assigned to nobody

[2022-04-15 12:28] Deadpikle commented on #307
Glad you got it fixed!

`NetSparkle_Ed25519.pub` is the correct file name (I'm guessing that was just a typo there on your part), but yes:

This was the likely cause of the issues. :)

Have fun programming!

[2022-04-20 12:32] FRvanderVeen opened #312 "Display of release notes differs between Avalonia and WPF"
I am using NetSparkleUpdater in multiple projects. One of the is a WPF project the other is an Avalonia project. That way I found out there are some differences in the display of the release notes depending on the UI

WPF
![image](https://user-images.githubusercontent.com/86024496/164228602-171d43df-1996-4326-9d8a-cb593cace53d.png)

Avalonia
![image](https://user-images.githubusercontent.com/86024

[2022-04-20 18:42] FRvanderVeen opened #313 "NetSparkleUpdater.UI.Avalonia nuget package not working out of the box"
When I add the NetSparkleUpdater.UI.Avalonia nuget package to my project and it tries to open the UpdateAvailableWindow it throws the following exception:

The workaround is to install the Avalonia.HtmlRenderer nuget package (https://www.nuget.org/packages/Avalonia.HtmlRenderer/).

I would expect that the nuget package has a dependency to the Avalonia.HtmlRenderer nuget package. On the other hand

[2022-04-21 00:47] #313 closed, assigned to nobody

[2022-04-21 00:47] Deadpikle commented on #312
Hi @FRvanderVeen,

Thank you very much for the report and being very clear about what needs to change. That saves me a lot of time -- Thank you!

I have implemented your recommendations with some tweaks. Here is what it looks like currently using the macOS sample:

<img width="812" alt="Screen Shot 2022-04-20 at 8 43 37 PM" src="https://user-images.githubusercontent.com/5092399/164349271-065ce032-

[2022-04-21 00:49] Deadpikle commented on #313
Thank you, @FRvanderVeen! The nuget package for `Avalonia.HtmlRenderer` is new as of 6 days ago, so you're right -- no need for a custom-built version now. I've updated the project to use the NuGet reference.

This is rolling out in CI/CD as a preview version now.

[2022-04-21 00:53] Deadpikle opened #314 ".NET 4.5.2 reaches EOL on 26 April 2022"
https://devblogs.microsoft.com/dotnet/dotnet-framework-45-46-461-end-of-support/

This should be handled at next version bump (3.x). We will drop support for .NET 4.5.2 and bump up to 4.6.2 at the minimum. That might allow us to make other upgrades, such as using System.Text.Json for everything.

[2022-04-21 07:14] FRvanderVeen commented on #312
Hi @Deadpikle,

Thanks for the quick reaction!

I think I know what's up with the bullet list. I'm facing the same:
![image](https://user-images.githubusercontent.com/86024496/164394538-3274da7f-0616-4334-bf82-97b403317c26.png)

I've been diving into the HtmlRenderer library, that's used by the Avalonia.HtmlRenderer, and I think I found the culprit:
![image](https://user-images.githubusercontent.c

[2022-04-21 16:16] Deadpikle commented on #312
Again, wonderful research. Thank you.

I have done a bunch of tweaking and modifying. Here is how the release notes currently look in the sample:

<img width="812" alt="Screen Shot 2022-04-21 at 12 14 35 PM" src="https://user-images.githubusercontent.com/5092399/164505035-cc8bf903-3e8d-4bfb-9082-56f082e608e4.png">

This is a significant improvement over the current, non-preview version for Avaloni

[2022-04-24 15:26] Deadpikle commented on #312
Everything checks out on WPF and WinForms; in fact, I went ahead and updated those templates so that everything is as close as possible, barring small rendering differences per platform. This should greatly improve things for release note viewing.

Thank you again for your research and help! I'll leave this issue open until a non-preview version is released.

[2022-04-24 22:58] Deadpikle commented on #252
@xaecors Thank you for that. That was a huge, HUGE help.

For some reason the Avalonia UI is giving me issues on .NET 6 and the download progress is not triggering properly (somehow the download is finishing before the progress window itself is even created), and I'm not sure yet where that issue lies. But the overall algorithms and things seem to be operating properly.

[2022-04-24 23:14] xaevik commented on #252
@Deadpikle

You're welcome, was happy to help.

That UI issue sounds similar to one I ran into when we implemented a custom UI (to match the look & feel) using that implementation and we're using WPF on .NET 6. I'd be happy to give it a glance if you can refer me to a commit and compare it to see if I can provide a direction.

[2022-04-25 14:14] xaevik commented on #252
@Deadpikle

I've created a gist of our Custom UI implementation (sensitive parts removed), hopefully that will help shed some light your way (assuming it's not an underlying issue with Avalonia).

As a disclaimer the ViewModel leverages the Catel MVVM library so the public properties are are weaved at compile time but use the OnPropertyChanged.Fody behavior under the covers.

https://gist.github.c

[2022-05-09 15:49] #252 closed, assigned to nobody

[2022-05-09 15:53] Deadpikle commented on #252
@xaevik Again, that's super kind of you, thank you.

There was a race condition where the progress window could be shown after the download completed, thus all the events took place before the download window was shown and then of course the download window did nothing UI wise for the user. Fixing that issue seems to have fixed the issues I was experiencing.

You were very helpful for getting this

[2022-05-09 16:00] xaevik commented on #252
@Deadpikle

Happy to be of assistance. That is an interesting race condition though and I saw how you remediated it.

I wonder if it has to do with the AvaloniaUI preferring React observers to events? In any case good to see it's squashed.

[2022-05-10 18:48] Deadpikle commented on #306
How's it going for this issue @duncangroenewald? Got it figured out?

[2022-05-10 18:58] duncangroenewald commented on #306
Yes I just rename the msi file thanks.

[2022-05-10 18:58] #306 closed, assigned to nobody

[2022-05-24 15:10] EllLG1211 opened #332 "netsparkle-generate-appcast CLI does not work with .NET 6"
I'm currently writing a WPF app in .NET 6

In its current state, I cannot generate an appcast file through CLI with simply .NET 6. The command will fail if it does not find version 5.0 of Microsoft.NETCore.App in your dotnet\shared files.

Managed to circumvent the issue by installing .NET 5.0 thanks to the link given to me by the CLI.

[2022-05-24 15:13] Deadpikle commented on #332
Thanks for reporting this! That's really interesting -- I've definitely set up the project to work with .NET 6:

https://github.com/NetSparkleUpdater/NetSparkle/blob/049525cd0a9aa994ec44fd3463100c95e326ff7e/src/NetSparkle.Tools.AppCastGenerator/NetSparkle.Tools.AppCastGenerator.csproj#L7

But looking on NuGet, it does indeed mark it as .NET 5 only. Might need to upload a new version. Thank you aga

[2022-05-24 21:08] Deadpikle commented on #332
Can you try v2.1? Nuget.org is recognizing this version as compatible with .NET 6.

[code]

[2022-05-25 08:15] EllLG1211 commented on #332
It works now! Thanks for reacting swiftly.

[2022-05-25 08:15] #332 closed, assigned to nobody

[2022-06-02 06:54] FRvanderVeen opened #334 "Question: should you be able to control date format in UpdateAvailableWindow"
While looking at the contents of the UpdateAvailbleWindow my eye was caught on the following:

![image](https://user-images.githubusercontent.com/86024496/171570595-69a81b2e-31fb-404c-ac30-ec0bd210c097.png)

The date in the above format is formatted in Dutch format, while the other texts and captions on the buttons are in English. Should we be able to specify the format of the dates in the UpdateA

[2022-06-05 22:01] Deadpikle commented on #334
Hi @FRvanderVeen,

Good work spotting that. The short answer is that NetSparkle doesn't really do anything with localization at the moment (see #92); however, for the meantime, I have made it easier in v2.1 (rolling out now) to set the date format for release notes by adding a property to all `UIFactory` objects via the new `UIFactory.ReleaseNotesDateTimeFormat` format, which essentially gets forw

[2022-06-05 22:01] #334 closed, assigned to nobody

[2022-06-05 22:02] Deadpikle commented on #312
This is now released in 2.1! 🎉

[2022-06-05 22:02] #312 closed, assigned to nobody

[2022-06-05 22:05] Deadpikle commented on #294
Really need to also add a sample for how to use the new filtering process on beta/stable channels along with this, as version rollback and a beta/stable channel feature can both use the new filtering process.

[2022-06-09 14:00] emazv72 opened #335 "Regression - Sample HandleEventsYourself not downloading"
Hi,

There seems to be a regression between  2.0.9-preview20220106001 and 2.1.0.
I used code based on HandleEventsYourself, which worked with preview version and noticed the InitAndBeginDownload doesn't trigger the download.
I then downloaded and tested the original HandleEventsYourself code from tag 2.1.0, and it won't download the update.
I can't find the preview tag anymore to perform a compare

[2022-06-10 02:51] Deadpikle commented on #335
Hi @emazv72,

Thank you _so much_ for reporting this problem. I really appreciate it. I was able to replicate the bug that you experienced, and a fix is rolling out to NuGet via CI/CD now -- v2.1.1.

Please note that I did find a small issue in the sample -- it is technically possible that if all the right race conditions happen and your internet is SUPER FAST, the download finished event can be c

[2022-06-10 02:51] #335 closed, assigned to nobody

[2022-06-11 20:06] CrackAndDie opened #336 ".NET Framework WPF app NetSparkleException."
I have created app cast files and uploaded them tomy server. Then I paste this into MainWindow constructor:
[code]
But when I start my app I get the error:
[code]
What could be the reason of this? Did I miss something?

[2022-06-12 13:07] Deadpikle commented on #336
Hi @CrackAndDie,

Thanks for your question. The error means that your `AssemblyInfo.cs` file is missing one or two tags. See the sample for a correct example setup: https://github.com/NetSparkleUpdater/NetSparkle/blob/develop/src/NetSparkle.Samples.NetFramework.WPF/Properties/AssemblyInfo.cs

In other words, add these to your `AssemblyInfo.cs` file:

[code]

Or use your own `IAssemblyAccessor` imp

[2022-06-12 19:57] CrackAndDie commented on #336
Thanks for the answer! I had ```[assembly: AssemblyCompany("")]``` (it was empty). Now it works (I hope so, cause I tested it only once).

[2022-06-12 19:57] #336 closed, assigned to nobody

[2022-06-14 07:25] emazv72 commented on #335
Hi @Deadpikle,

Thank you for the quick fix, I've integrated the new release and I can confirm it works just fine, great job!

[2022-06-29 14:38] avivf88 opened #342 "Out of memory issue when RetrieveDestinationFileNameAsync in WebClientFileDownloader is being executed"
Hi,
I have an issue that when the download start sometimes I'm getting an error.
I've debugged it and saw that an exception is being thrown in RetrieveDestinationFileNameAsync method (in WebClientFileDownloader that is implementing the IUpdateDownloader).

I've checked it out and saw that the following command is throwning an "Out of memory exception"

"
using (var response =
                    a

[2022-06-30 20:42] Deadpikle commented on #342
@avivf88,

I don't have a problem with that change. Do you want to submit a PR for it? Otherwise, I can make the change.

Thanks so much for reporting!

[2022-07-10 16:14] #342 closed, assigned to nobody

[2022-07-10 16:14] Deadpikle commented on #342
Fixed in 2.1.2. Thanks again!

[2022-07-11 11:09] avivf88 commented on #342
Thank you for the quick response!

[2022-07-14 17:39] xaevik opened #349 "Custom UI Window Shows Only After Download Completes"
- Platform: NET 6 Windows
- UI: WPF

We upgraded one of our applications from NetSparkle 2.0.11 to 2.1.2 and noticed that our Custom UI  implementation only shows _after_ the download has completed. This is similar to the [issue you ran into](https://github.com/NetSparkleUpdater/NetSparkle/issues/252#issuecomment-1107934569) with the Avalonia implementation.

The only appreciable difference we not

[2022-07-14 20:40] teocomi opened #350 "SemVer support"
Hi there,

Any plans to support semantic versioning? I tried publishing a `2.0.0-alpha` and got the "could not connect..." issue.

[2022-07-14 23:47] Deadpikle commented on #350
Hi @teocomi,

That error is rather vague and we'd have to look at the full log to know what's going on.

That being said, you can support alpha/beta/other channels by using the `AppCastFilter` property on `XMLAppCast` if you like. It's not well documented at this point, and there are a few more details in #291. You can also just use a separate app cast.

As far as actual semantic versioning goes f

[2022-07-14 23:59] Deadpikle commented on #349
I...this would make logical sense...yes....especially given the naming...

The question is, what was I thinking when I made this commit for 2.1.0: https://github.com/NetSparkleUpdater/NetSparkle/commit/a1564b3940382daafbf08083149ccb3b9e5a0705#diff-71704bdbb8b643c1f8bbe97b710477f1745e756994fa1c05f9cea4e6693d39c3L996-L1007 where I clearly move the progress window showing from before `_actionToRunOnP

[2022-07-15 00:06] xaevik commented on #349
Haha no worries, it just looked a little odd when I was stepping through the code. For awhile I thought we had created it unintentionally with our `ShellService`. I may be able to take a deeper look in about 2 weeks when a major feature rollout we're going through is done. It's not a show stopper since we can revert to a prior release and lock it to prevent renovatebot from having a nervous breakd

[2022-07-15 01:10] Deadpikle commented on #349
Here's probably what I was trying to fix before. When you put them in their proper order (show progress window -> action to show progress window), WPF doesn't work when `ShowsUIOnMainThread` is `false`:

[code]

The `ProgressWindow?.Show` call blocks due to the `System.Windows.Threading.Dispatcher.Run()` in `BaseWindow.ShowWindow(isOnMainThread)`, so then the `_actionToRunOnProgressWindowShown` is

[2022-07-15 01:15] xaevik commented on #349
So we actually did try this and it had no effect. _However_ that most likely is an issue on our side rather than with SparkleUpdater. There were some threading issues discovered in the routine that this is called from that were discovered today.

Once that threading issue is fixed we can try setting that option again and see what happens.

[2022-07-15 12:46] xaevik commented on #349
So just as an update, we resolved the threading issue we were having where this routine was happening in our implementation. We updated back to 2.1.2 from 2.0.11 and ran it again with `ShowsUIOnMainThread` to `true`. What we see is the following behavor:

1. Application Start
2. Splash Screen Shows
3. Executes `SparkleUpdater.CheckForUpdatesQuitely()`
4. Executes `SparkleUpdater.InitAndBeginDownlo

[2022-07-18 11:45] FRvanderVeen opened #351 "UpdateAvailableWindow looks strange in Dark mode"
When using Avalonia in dark mode (in this case Fluent Dark) the UpdateAvailableWindow becomes unreadable:
![image](https://user-images.githubusercontent.com/86024496/179503478-60407652-7aa2-4b24-b2c7-0bc1f93c5f69.png)
This is because the UpdateAvailableWindow has a background configured:
https://github.com/NetSparkleUpdater/NetSparkle/blob/42f21fdc8e8ab1af9ba747788b9e918e5d20d4fb/src/NetSparkle.UI

[2022-07-19 08:30] teocomi commented on #350
Thanks! I think channels will do for now and I might indeed look at adding semver support if I find the time :)
Feel free to close this in the meantime.

[2022-07-21 10:57] meuper opened #352 "Pass credentials for downloading appcast,installer,..."
Hello,
my appcast.xml, installer and so on are hosted on a password restricted nexus repository. Is it possible to pass credentials for that?

[2022-07-21 12:49] Deadpikle commented on #352
Hi @meuper,

You can implement your own `IUpdateDownloader` and `IAppCastDataDownloader` for this!

https://github.com/NetSparkleUpdater/NetSparkle/blob/42f21fdc8e8ab1af9ba747788b9e918e5d20d4fb/src/NetSparkle/SparkleUpdater.cs#L421-L430

Easiest thing for you to do is probably to just grab the current implementations and create your own versions based on those.

[2022-07-21 12:53] Deadpikle commented on #351
Hi @FRvanderVeen,

Thanks for reporting this.

Hmmmmmm, the hardcoded background there was to make it appear the same as WPF/WinForms, but you're right, that would mess up dark mode for Avalonia.

Not sure what the best fix would be at this exact moment to make it work on all themes out-of-the-box...in the interim you can always use your own `IUIFactory` that passes in your own UI, but that's extr

[2022-07-21 14:00] FRvanderVeen commented on #351
I think the easiest solution is to remove the hardcoded background. That way you let the UI library determine how things look. I would expect that the update window looks the same as any Avalonia based window in my application.

For now I worked around the issue by attaching an event to the window opened event. Like so: https://docs.avaloniaui.net/docs/data-binding/binding-from-code#subscribing-to

[2022-07-22 09:17] meuper commented on #352
@Deadpikle thank you for the quick reply.
I think it would be easier to customize the http client if there where a method to create it. So we could only override that method to add a header or something.

As an example, add following method and change [http client creation](https://github.com/NetSparkleUpdater/NetSparkle/blob/42f21fdc8e8ab1af9ba747788b9e918e5d20d4fb/src/NetSparkle/Downloaders/WebR

[2022-07-25 06:47] Jazzman82 commented on #183
We have just implemented a solution based on 7zip self-extracting-archives (.exe) which works out-of-the box without changes to netsparkle's interna.

Key here is to perpare an archive like described here: https://documentation.help/7-Zip/sfx.htm which can be extracted with NetSparkle using the "CustomInstallerArguments" like this:
`CustomInstallerArguments = $"-o{Path.GetDirectoryName(Environment

[2022-07-31 15:05] AMohamedFawzy opened #359 "Netsparkle download the files synchronously and freezes the UI"
I used the same code as the netsparkle.sample.avalonia then used a bigger update file (45 megabytes) but the UI hangs until the download finishes

[2022-07-31 15:19] Deadpikle commented on #359
Hi @AMohamedFawzy,

Thank you for the report; however, it would be very helpful if you could create an example and/or say how you are creating your `SparkleUpdater` instance as well as your .NET version, version of Avalonia, etc., since any of those might help the rest of us replicate and fix any problems that exist.

Please let us know:
* Which library you are using (sounds like `NetSparkleUpdate

[2022-07-31 15:27] Deadpikle commented on #349
Hi, sorry for my lack of response. Life is very busy right now (as it probably is for all of us) and I can only work on this in my free time.

I did try some things out on a separate branch here (https://github.com/NetSparkleUpdater/NetSparkle/tree/fix/race-conditions-progress-window), but the fix is rather ugly with an event being tossed between the UI and the main library. I'm not sure what else

[2022-07-31 15:29] xaevik commented on #349
It's all good. I was traveling for business so I had very little time to work on code as it was. Depending on my schedule this week I'll take a glance and let you know the outcome.

[2022-07-31 15:44] AMohamedFawzy commented on #359
- library: `NetSparkleUpdater.UI.Avalonia`, version: 2.1.2
- Avalonia version: 0.10.17
- .Net version: 6.0.302
- Sparkle setup:
[code]

[2022-07-31 15:44] AMohamedFawzy commented on #359
- library: `NetSparkleUpdater.UI.Avalonia`, version: 2.1.2
- Avalonia version: 0.10.17
- .Net version: 6.0.302
- Sparkle setup:
[code]

[2022-08-01 17:15] AMohamedFawzy commented on #359
I found a workaround (although not elegant), I copied the netsparkle WebClientFileDownloader and modified it like this+

**Before:**
[code]

**After:**
[code]

for some reason the function was made to run synchronous intentionally freezing the UI, I think this has something to do with avaloniaui being slightly differenet from winforms and WPF

[2022-08-29 17:06] xaevik commented on #349
@Deadpikle just as an update for you, I haven't really had a full chance to investigate into this or your branch yet. I am hoping to have some time soon however depending on how my next sprint goes.

[2022-09-01 12:12] david-szabo97 commented on #359
Experiencing the same issue. When I click on the "Download/Install" button, the window disappears, and the progress window doesn't show until the download is completed. Removing the `AsyncHelper.RunSync` call fixed the issue.

[2022-09-01 12:40] Deadpikle commented on #359
Hi @david-szabo97, thanks for the confirmation. I am extremely busy right now and don't know when I will get to this, so if anyone wants to send in a PR or figure this one out, I'd be very grateful. At least there is a workaround for the moment. :)

[2022-09-28 01:15] Deadpikle commented on #359
Hi,

Sorry for the wait. Could you try `2.1.3-preview20220927001` (rolling out to NuGet through CI/CD now) and let me know if it works better for you all? Make sure to use the default (built-in) classes rather than anything you've created when testing.

[2022-09-28 01:16] Deadpikle commented on #351
Hi @FRvanderVeen,

I have kept the hardcoded background (for compat reasons just so nothing bad happens) but have made this easier for you to clear in `2.1.3-preview20220927001`. The Avalonia `UIFactory` now has a `UpdateWindowGridBackgroundBrush` property that you can set to `null` to clear the background (or set it to whatever you feel like). Can you let me know if that helps? Thanks!

[2022-09-28 01:17] Deadpikle commented on #352
Hi @meuper,

I have followed your suggestion in `2.1.3-preview20220927001`. There are now `virtual` methods in `WebClientFileDownloader`, `WebRequestAppCastDataDownloader`, and `ReleaseNotesGrabber` that should make this easier for you. Can you let me know if this helps you? :) Thanks!

[2022-09-30 09:37] david-szabo97 commented on #359
`2.1.3-preview20220927001` works for me, using the default classes. Thank you! Can't wait for the release 😄

[2022-10-03 19:40] holtt opened #373 "Unable to reference installer download via file:// type url"
I am utilizing NetSparkle with .NET Framework 4.8 in an internal environment with no web server, so am relying on a windows file share and file://-type URLs.

I am able to host and access the appcast.xml as well as release notes files without issue.  However when it comes to the actual installer item link (defined in <enclosure/>), I am unable to use a file:// link.

Specifically, this triggers th

[2022-10-07 12:24] aekoksalArg opened #374 "Auto Update For WPF .NET Core"
I developed a WPF application for my client. Software is running on multiple PCs and need an update system. I tried to use NetSparkle but seems like it is only for manuel update. My client can't update every single software manually. So I need to update software automatically or some kind of send update trigger from web. Is there any way to do that?

[2022-10-10 12:16] Deadpikle commented on #374
Hi @aekoksalArg,

 NetSparkle does allow for automatic update checks and even allows for automatic installs of those updates and/or prompting the user to install the updates. That's what the `startLoop()` call does. See https://github.com/NetSparkleUpdater/NetSparkle/blob/5859687adda7af71fce45f8a0b95e3d3f930fc5e/src/NetSparkle.Samples.NetCore.WPF/MainWindow.xaml.cs#L49

And https://github.com/NetS